@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700italic,700,500italic,500,400italic,300italic,300&subset=latin,cyrillic);
/*font-family: 'Fira Sans', sans-serif;*/
a,a:focus, a:active {
    outline: none;
}
.navbar-blue {
    background-color: #00007c;
}
.brn {
    border: none;
}
.logo {
    font-family: "RobotoCondensedRegular";
}
.margin-top-65px {
    margin-top: 25px;
}
.footcolor {
    background-color: #1e1e1e;
}
.advBack {
    background: #686868;
    color: whitesmoke;
}
.madman {
    width: 100%;
    margin: 10% 5% 10% 0;
}
#text h6 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(255, 141, 0);
}
#text p {
    margin: 5% 0 10% 0;
    text-align: justify;
}
.outFrame {
    margin: 13% 0 0 0;
    height: 100%;
    border: 2px solid orangered;
    -ms-border-radius: 1em;
    border-radius: 1em;
}

.outFrame h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.outFrame ul {
    text-decoration: none;
    margin: 5%;
}
.outFrame li {
    display: block;
    margin: 7% 0 0 0;
    text-align: center;
    cursor: pointer;
}

.outFrame a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    color: whitesmoke;
    line-height: 3;
    background-color: orangered;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
}
.outFrame a:hover {
    background-color: #ff4500;
    background-color: rgba(255, 69, 0, 0.79);
}
.outFrame a:focus {
    outline: none;
}

.contacts {
    margin: 2% 0;
    border-right: 2px solid;
}
.contacts p {
    color: white;
    margin: 0;

}
.contacts h3 {
    color: white;
    margin: 0;
}
.vendors {
    border-right: 2px solid;
    margin: 2% 0;
}
.vendors h3 {
    color: whitesmoke;
    margin: 0;
}
.vendors p {
    color: whitesmoke;
    margin: 5%;
}
.vals li {
    margin: 0 10px;
    line-height: 30px;
    color: whitesmoke;
    font-family: "RobotoCondensedRegular";
}
.vals {
    display: block;
    margin: 5px 20px;
}
.vals i {
    color: white;
    font-weight: 600;
}
.reset_link a:focus {
    outline: none;
}
/*Popover login*/
.loginPart {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: rgb(20, 158, 254);
}
.loginPart ul {
    padding: 0 50px 0 10px;
}
.loginPart ul li a {
    display: block;
    line-height: 35px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.loginPart ul li a i {
    margin: 0 0 0 20px;
}

.regControl {
    width: 300px;
    display: none;
    position: absolute;
    background-color: #007acb;
    color: whitesmoke;
    top: 120px;
    left: 0;
}
.media-photo {
    margin: 10px;
}
.media-photo img {
    width: 50%
}
.media-body {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    padding: 3% 5% 0 0;
    text-align: right;
}
.media-body p {
    margin: 0;
}
.media-control {
    margin: 0;
}
.media-control ul {
    list-style: none;
    margin: 0 0 0 0;
}
.media-control ul li {
    padding: 0 0 0 20px;
}
.media-control ul li a {
    text-decoration: none;
    color: whitesmoke;
    line-height: 35px;
    display: block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.media-control ul li a:hover {
    margin-left: 10px;
}
.media-control ul li a:active,
.media-control ul li a:focus {
    outline: none;
}
/*End popover login*/
/*Start Admin navigation*/
.left-navigation {
    height: 900px;

}
.box {
    
}
.box-title {
    background-color: #007acb;
    color: whitesmoke;
    border-left: solid 2px red;
}
.box-title h3 {
    margin: 0;
    padding: 10px 5px 10px 10px;
    display: block;
}
.box-content {
    background-color: #0095ff;
}
.box-content ul {
    
}
.box-content ul li {
    line-height: 50px;
    padding-left: 10px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-bottom: 1px solid whitesmoke;
}

.box-content ul li:hover {
    background-color: whitesmoke;
    padding-left: 20px;
}
.box-content ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 120%;
    display: block;
    line-height: 50px;
    color: whitesmoke;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.box-content ul li a:hover {
    text-decoration: none;
    color: #007acb;
}
.box-content ul li a:focus,
.box-content ul li a:active {
    outline: none;
    text-decoration: none;
}
/*End Admin navigation*/
.thead-st {
    background-color: #007acb;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 120%;
}
.thead-st tr td a {
    color: white;
}
/*Shop navigation*/
.catalog {
    position: relative;
    font-family: "RobotoCondensedRegular";
}
.menuShop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(-78deg,red,blueviolet)
}
.menuShop ul {
    border: solid 2px red;
}
.menuShop ul li {
    background-color: #0095ff;
    padding: 0 25px;
    cursor: pointer;
}
.menuShop ul li a {
    line-height: 35px;
    text-decoration: none;
    color: whitesmoke;
    display: block;
}
.subMenuItem {
    position: absolute;
}
/*End Shop navigation*/
/*Product groups*/
.productGroupe {
    position: relative;
    padding: 0 0 0 20px;
}
.productGroupe .groupeView:first-child {
    margin: 10px 0 0 0;
}
.groupeView {
    position: relative;
    display: block;
    width: 300px;
    height: 320px;
    overflow: hidden;
    text-align: center;
    border-right: solid 5px rgb(40, 165, 81);
}
.groupeView img {
    max-width: 150px;
    margin: 10px 0 0 0;
}
.groupeView h1 {
    font-weight: bold;
    margin: 10px 0;
}
.groupeView p {
    padding: 0 10px;
}
.groupeView a {
    position: absolute;
    margin: 10px;
    bottom: 5px;
    right: 10px;
}
.groupeView a i {
    margin: 0 0 0 10px;
}
.catList {
    position: absolute;
    right: 0;
    top: 20px;
    width: 80%;
}
.catItem {
    text-align: center;
    width: 200px;

}
.catItem img {
    height: 150px !important;
}
.catItem h1 {
    font-weight: bold;
    margin: 10px 0;
}
.flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
}
/*End product groups*/
/*Producs*/
.shopView {
    position: relative;
    height: 450px;
    border-left: solid 5px green;
    border-bottom: solid 5px yellow;
    border-bottom-left-radius: 35px;
    margin: 15px
}
.shopView img {
    max-height: 150px;
}
.shopView p {
    margin: 5px;
    text-align: right
}
.shopView p span {
    font-weight: bold;
}
.shopView button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.orderForm {
    
}
.avatar {
    float: left;
    max-height: 200px;
}
.productParams {
    height: 300px;
    text-align: right;
    background-color: orchid;
    padding: 10px;
}
.productParams h2 {
    font-weight: bold;
    margin: 0 15px;
}
.productParams p {
    margin: 10px 0;
    font-size: 20px
}
/*End produts*/
/*Попытка сделать хедер*/
.dropdown-menu {
    background: linear-gradient(-166deg, #8bdaff, #0095ff);
    width: 100%;
    height: 100px;
}
.dropdown-menu li {
    margin: 10px !important;
}
.dropdown-menu li a {
    margin: 10px !important; 
}
.myHead {
    overflow: visible;
    position: fixed;
    top: 0;
    background: linear-gradient(-166deg, #8bdaff, #0095ff);
    width: 100%;
    height: 120px;
    z-index: 999;
}
.myHead nav button {
    float: right;
    margin: 30px;
    padding: 20px;
    font-weight: bold;
    background-color: transparent;
    border: solid 2px white;
    color: white;
}
.myHead nav button:hover,
.myHead nav button:focus {
    background-color: transparent;
    border: solid 2px white;
    color: white;
}
.myHead nav button i {
    padding: 0 10px 0 10px;
}
.idLogo {
    margin: 0;
    padding: 0;
}
.idLogo>a {
    float: left;
    display: block;
    padding: 20px;
}
.idLogo:hover .loginPart {
    display: block;
}
.idLogo:hover .regControl {
    display: block;
}
.idLogo a img {
    width: 150px;
}
.currensy {
    float: left;
    margin: 7px 0;
}
.myHead nav ul {
    margin: 0px 1% 0 0; 
}
.myHead nav ul li {
    float: right;
    margin: 0 1%;
}
.myHead nav ul li a {
    display: block;
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    border: solid 2px white;
    margin: 40px 0 0 0;
}
.myHead nav ul li a:hover {
    cursor: pointer;
    background-color: white;
    color: #0095ff;
    text-decoration: none;
}
.myHead nav ul li a:active, .myHead nav ul li a:focus {
    text-decoration: none;
}
.myShop{
    float: left;
    background: linear-gradient(-55deg,rgb(220, 140, 143), rgb(255, 147, 0));
    padding: 20px 0 0 0;
    transition: all 0.33s;
    box-shadow: -2px 2px 5px gray;
}
.myShop a {
    display: inline-block;
    line-height: 40px;
    padding: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.myShop a i {
    margin: 0 0 0 10px;
}
.myShop a:hover {
    text-decoration: none;
}
.myShop:hover{
    padding: 16px 0 20px;
    border-bottom: solid 3px #fff;
}
.myCart {
    float: left;
    margin: 0 0 0 20px;
    height: 100%;
    width: 200px;
    background-color: transparent;
}
.myCart div i {
    float: left;
    font-size: 40px;
    margin: 10px 10px 0 10px;
    color: white;
} 
.myCart div h1{
    font-weight: bold;
    color: white;
    padding: 20px 0 0 0;
}
.cartDet {
    display: block;
    margin: 20px 0 0 0;
    padding: 0 5px;
    color: white;
}
/*Попытка удалась.*/
/*Contacts*/
.contact-bg {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: url("/Content/images/dc960_640.jpg") center no-repeat;
    background-size: 100% 100%;
    padding: 3% 0;
    letter-spacing: 1px;
}
.contComp {
    flex: 0 0 auto;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    max-width: 1200px;
    justify-content: center;
    align-items: baseline;
}
.contText {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    justify-content: center;
    width: 600px;
}
.contText h1 {
    flex: auto;
    align-self: center;
    color: whitesmoke;
    font-weight: bold;
}
.contText h3 {
    text-align: center;
    color: whitesmoke;
    margin: 0;
    flex: auto;
}
.contText address {
    margin-bottom: 3%;
    color: white;
    line-height: 25px;
    font-weight: bold;
    padding: 15px;
    flex: 1 1 auto;
    align-self: center;
    width: 600px;
}
.contText address a {
    color: whitesmoke;
    flex: auto;
}
.phones {
    flex: auto;
    display: flex;
    flex-flow: column wrap;
}
.phones p {
    flex: auto;
    margin: 0 20px 20px;
    font-size: 2em;
    color: orangered;
}
#map {
    flex: 0 0 auto;
    align-self: center;
    width: 800px;
}
.deliveryToRegions {
    background-color: rgba(0, 0, 0, 0.5);
    flex: 1 0 auto;
    max-width: 1200px;
    align-self: center;
    color: whitesmoke;
    padding: 15px;
}
.deliveryToRegions h1 {
    text-align: center;
    font-weight: bold;
}
/*/Contacts*/
/*About*/
.about-bg {
    background: url("/Content/images/colors2.jpg") no-repeat;
    background-size: 100% 100%;
    padding: 50px 0 0 0;
}
.about-history-box {
    position: relative;
    margin: 20px 0;
    padding: 5%;
    background: rgba(30, 30, 30, 0.78);
    background-size: 100% 100%;
    text-align: center;
    border: solid 3px rgba(0, 128, 0, 0.7);
}
.about-history-box h1 {
    color: #fda15e;
    color: rgba(253, 161, 94, 0.75);    
}

.about-history-box h2 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fda15e;
    color: rgba(253, 161, 94, 0.75);
}

.about-history-box h3 {
    font-weight: 200;
    letter-spacing: 2px;
    color: #fda15e;
    color: rgba(253, 161, 94, 0.75);
    font-size: 25px;
}

.about-history-box img {
    width: 30%;
    padding: 4% 0 0 0;
    display: inline-block;
}
.cool-text {
    font-family: "NautilusPompiliusRegular";
    text-align: justify;
    font-size: 17px;
    color: #cebd95;
    color: rgba(206, 189, 149, 0.75);
}

.cool-text:first-letter {
    padding: 0 0 0 2%;
    font-weight: bold;
    font-size: 120%;
    color: whitesmoke;
}
.cool-text a {
    font-family: "RobotoMedium";
    text-decoration: none;
    color: #84b1a8;
    color: rgba(132, 177, 168, 0.75);
}

.about-tabs ul {
    list-style: none;
    margin: 0 0 20px;
    height: 50px;
    text-align: center;
}
.about-tabs ul li{
    float: left;
    width: 29%;
    margin: 0 2%;
}
.about-tabs ul .active a {
    background-color: #31adff;
    background-color: rgba(49,173,255,0.70);
}

/*class="nav nav-tabs nav-justified"*/
.about-tabs ul li a {
    background-color: #1e1e1e;
    background-color: rgba(30, 30, 30, 0.78);
    color: white;
    display: block;
    line-height: 45px;
    border: solid 2px white;
    border-radius: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.about-tabs ul li a:hover {
    text-decoration: none;
    background-color: #1e1e1e;
    background-color: rgba(30, 30, 30, 0.78);
}

.about-tabs ul li a:active, .about-tabs ul li a:focus {
    text-decoration: none;
}
.sert-section {
    background-color: rgba(30, 30, 30, 0.78);
    padding: 1%;
    border: solid 3px rgba(0, 128, 0, 0.7);
}
.sertificat:focus {
    outline: none;
}
.sert-section h3, .sert-section h4 {
    margin: 1% 0 2% 3%;
    color: rgba(253, 161, 94, 0.75);
    font-size: 20px;
    font-family: "Sagoe UI", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}
.sert-section p {
    text-align: justify;
    color: rgba(253, 161, 94, 0.75);
    font-family: "RobotoLight", sans-serif;
}
.sert-section p:first-letter {
    margin: 0 0 0 3%;
}
.sert-section iframe {
    margin: 0 0 0 25%;
}
.partner-link {
    text-align: center;
    width: 100%;
}
.sertificat img {
    width: 100%;
    margin: 5%;
    border: 1px solid #666;
    -ms-border-radius: 5%;
    border-radius: 5%;
}
.goBack {
    background-color: rgb(107, 163, 226);
}
.goBack a {
    display: block;
    font-size: 25px;
    line-height: 40px;
    padding: 0 0 0 20px;
    color: white;
    text-decoration: none;
}
.goBack a i {
    margin: 0 20px;
}
.goBack a:hover {
    background-color: white;
    color: rgb(107, 162, 225);
    transition: all .5s;
}
.showAll {
    background-color: rgb(74, 175, 96);
}
.showAll a {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    padding: 0 0 0 20px;
    color: white;
    text-decoration: none;
}
.showAll a i {
    margin: 0 20px;
}
.showAll a:hover {
    background-color: white;
    color: rgb(107, 162, 225);
    transition: all .5s;
}
.selCat {
    border-left: solid 5px gray;
}
.selCat img {
    margin: 10px 0 10px 55px;
}
.selCat h1 {
    font-weight: bold;
    margin: 10px;
}
.selCat p {
    padding: 5px
}
.subCutItems {
    border-left: solid 5px orangered;
    padding: 10px;
    border-top: solid 1px gray;
    min-height: 150px;
}
.subCutItems:hover{
    background-color: rgb(196, 236, 210);
    border-left: solid 5px yellow;
    transition: all .5s;
}
.subCutItems a {
    display: inline-block;
    color: rgb(16, 61, 134);
    text-decoration: none;
    cursor: pointer;
}
.subCutItems img {
    float: left;
    margin: 10px;
    width: 90px;
}
.subCutItems h1 {
    font-weight: bold;
}
.activeItem {
    background: linear-gradient(90deg, rgb(112, 204, 254), white);
    border-left: solid 5px rgb(112, 203, 253);
}
/*/About*/
/*----------------------------------------
    Login Form
----------------------------------------*/


/*----------------------------------------
    END Login Form
----------------------------------------*/
/*----------------------------------------
    Add SubCat
----------------------------------------*/
.subCat table thead {
    background-color: #007acb;
    color: whitesmoke;
}
.subCat table {
    text-align: center;
}
.subCat textarea {
    width: 100%;
}
.CatCont table {
    width: 100%;
}
.CatCont table thead {
    background-color: #007acb;
    color: whitesmoke;    
}
.CatCont table tr td {
    border: dotted 1px;
    text-align: center;
}
/*----------------------------------------
    END Sub Cat
----------------------------------------*/
.myMenuAdm {
    float: left;
}
.myMenuAdm ul {
    border: solid 1px #666;
    line-height: 30px;
}
.myMenuAdm ul li {
    display: block;
    background-color: white;
}
.myMenuAdm ul li a i {
    float: right;
    line-height: 30px;
    margin: 3px;
}
.titleA{
    line-height: 25px;
    margin: 0 10px;
}
.ui-menu { width: 300px }
.ui-state-active {
    background-color: orangered !important;
    color: white;
}
.ui-state-focus {
    background-color: orangered !important;
    color: white;
}
.ui-state-focus>a,
.ui-state-active>a{
    color: white;
    text-decoration: none;
}
.formProduct {
    border: solid 1px;
    padding: 10px;
}
.formProduct input[type="text"], .formProduct textarea {
    margin: 10px 0;
    width: 500px;
}
/*CART*/
.cart {
    padding: 50px 0;
}
.cartAttantion {
    text-align: center;
    padding: 30px 30px 20px;
    margin: 0 0 20px 0;
}
.cartAttantion h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}
.cartAttantion p {
    margin: 0 0 20px;
}
.cartAttantion a {
    margin: 50px;
    line-height: 50px;
    padding: 10px;
    border: solid 2px #a9a9a9;
    text-decoration: none;
    cursor: pointer;
}
.navLinks {
    text-align: center;
}
.navLinks a {
    margin: 20px 40px;
}
.cart table thead {
    background-color: rgb(5, 151, 254);
    color: white;
    font-weight: bold;
    text-align: center;
}
.loginCart h1 {
    font-size: 20px;
}
.loginCart input {
    margin: 10px;
}
.loginCart input[type="submit"] {
    padding: 10px;
    background-color: #0083fe;
    color: white;
    border: none;
}
.loginCart a {
    border: none;
}
.benefit {
    background-color: #0083fe;
    font-size: 2em;
    color: whitesmoke;
}
/*END CART*/
/*CUSTOMER LK*/
/*NAV MENU*/
.custNav {
    text-align: center;
    margin: 0 20% 0 30%;
}
.custNav ul {
    display: block;
    position: relative;
    list-style: none;
}
.custNav ul li{
    float: left;
}
.custNav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.custNav ul li a:hover {
    background-color: #999;
    color: white;
    transition: all .3s;
}
/*END NAV MENU*/
/*ABOUT*/
.logotip {
    float: left;
    max-width: 40%;
}
.logotip img {
    padding: 20px;
}
.custDescr {
    float: right;
    width: 50%;
}
.custDescr table {
}
.tabHead {
    background-color: rgb(91, 193, 254);
    color: white;
    font-weight: bold;
    text-align: center;
}
/*END ABOUT*/
/*END CUSTOMER  LK*/
/*PAI*/
.progressDiv {
    position: relative;
    left: 7%;
    top: 100px;
    display: inline-block;
}
.cartCutomer img {
    float: right;
    width: 150px;
    margin: 20px;
}
.cartCutomer table {
    float: left;
    width: 60%;
}
.statChartHolder {
    width: 35%;
    height: 90%;
    position: relative;
    top: 15px;
    display: inline-block;
}
.messageScreen {
    text-align: center;
    margin: 50px auto;
    max-width: 60%;
    padding: 50px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
}

.messageScreen h1 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 50px 0;
}
.messageScreen p {
    
}
/*Pre order screen*/
.preOrder {
    max-width: 960px;
    margin: 40px auto;
    text-align: center;
}
.preOrder h1 {
    font-size: 35px;
    margin: 15px;
    font-weight: bold;
    color: rgb(94, 195, 254);
}
.delivery {
    text-align: left;
}
.delivery label {
    width: 250px;
    border-bottom: dotted 1px blue;
    margin: 25px 0;
}
.delivery select {
    margin: 15px;
    width: 350px;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: gold;
}
.delivery input {
    margin: 15px;
    width: 350px;
    padding: 5px;
    border: none;
    background-color: rgb(94, 195, 254);
}
.delivery textarea {
    width: 350px;
    height: 100px;
    margin: 0 15px;
}
.descrArticle {
    text-align: left;
}
.descrArticle h3 {
    font-weight: bold;
    margin: 10px;
}
.delDescr {
    padding: 25px;
    border: solid 2px rgb(106, 106, 106);
    border-radius: 5px;
    margin: 25px 0 0 0;
    background-color: #bcb8b8;
    background-color: rgba(188, 184, 184, 0.49);
}
.delDescr h2 {
    font-size: 25px;
}
.attantion {
    color: red;
}
.delDescr h4 {
    text-align: right;
    margin: 25px;
}
.delDescr h4 strong {
    font-weight: bold;
    font-size: 15px;
}
/*End pre order screen*/
