/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
       .mainMenuItem {
    flex: 1 1 100%;
    height: 500px;
}
       .menuSertif img {
    margin: 50px;
    width: 30%;
    flex-grow: 0;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
           .mainMenuItem {
    flex: 1 1 100%;
    height: 500px;
}
       .menuSertif img {
    margin: 50px;
    width: 30%;
    flex-grow: 0;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
           .mainMenuItem {
    flex: 1 1 100%;
    height: 500px;
}
           .menuSertif img {
    margin: 10px;
    width: 50%;
    flex-grow: 0;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
       .mainMenuItem {
    flex: 1 1 100%;
    height: 500px;
}
       .menuSertif img {
    margin: 10px;
    width: 50%;
    flex-grow: 0;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}