/*ProductDetails*/
.productDetails {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1200px;
    align-self: center;
    width: 100%
}
.productContainer {
    flex: 1 1 auto;
    order: 1;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border: solid 1px red;
    width: 900px;
}
.productContainer h1 {
    font-size: 2em;
    margin: 0;
}
.prDetNav {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 0 10px;
}
.prDetNav h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    border: dotted 1px;
    padding: 5px 20px;
    align-self: center;
}
.prDetNav a {
    flex: 0 0 auto;
    background-color: orangered;
    align-self: center;
    padding: 10px 10px 10px 25px;
    color: white;
    font-weight: bold;
}
.productHead {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.productPhoto {
    flex: 0 1 auto;
    order: 0;
}
.productPhoto img {
    max-width: 400px;
}
.priceSection {
    flex: 1 0 auto;
    order: 1;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: solid 3px rgb(0, 122, 202);
    padding: 5px;
}
.stockBlock {
    flex: 0 0 auto;

}
.priceBlock {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}
.priceBlock p {
    flex: 0 0 auto;
    align-self: flex-start;
}
.priceBlock table {
    width: 100%;
    text-align: right;
}
.priceBlock table tr td {
    border-bottom: dotted 1px;
    padding: 5px;
}
.priceBlock a {
    align-self: center;
    color: #1686a8;
    font-weight: bold;
    margin: 5px;
    font-size: 120%;
}
.priceBlock a:before {
    content: "";
    background: url("/Content/images/info.png") 0 0 no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: -16px;
}
#pricerules {
    border: solid 3px #F1001F;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}
#pricerules h1 {
    padding: 0;
    margin: 0 0 10px;
    align-self: center;
    font-size: 2em;
    border-bottom: dashed 1px;
    color: green;
    font-weight: bold;
}
.des {
    text-align: center;
}
#pricerules p span {
    margin: 0 0 0 20px;
    font-weight: bold;
}
.buyBloc {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 168, 110);
    padding: 20px;
}
.buyBloc input[type="number"] {
    flex: 0 0 auto;
    border: none;
    width: 70px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: transparent;
}
.buyBloc input[type="submit"] {
    flex: 1 0 auto;
    color: white;
    font-weight: bold;
    font-size: 2em;
    background-color: transparent;
    border: none;
}
.brandBlock {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
}
.brandBlock a {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.brandBlock a img {
    flex: 1 0 auto;
    align-self: center;
    max-width: 60%;
    margin: 10px;
}
.additionalPhotos {
    flex: 0 0 auto;
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
}
.additionalPhotos p {
    max-width: 800px;
}
.additionalPhotos p a:hover {
    text-decoration: none;
}
.additionalPhotos p a img {
    max-width: 100px;
}
.bigView {
    max-width: 700px;
}
.productDescription {
    flex: 1 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
.atantionDescr {
    flex: 0 0 auto;
    width: 100%;
    border: solid 3px red;
    padding: 15px;
}
.sideNavigation {
    flex: 0 0 auto;
    order: 2;
    max-width: 300px;
}
/*End ProductDetails*/
