/*font-family: 'Oswald', sans-serif;*/
/*font-family: "RobotoLight"*/
body {
    margin: 0;
    padding: 0;
    font-family: "RobotoLight";
    padding: 30px 0 0 0;
    min-width: 360px;
}
.header_new {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 122, 203);
    color: white;
    height: 30px;
    z-index: 100;
}
.header_new h1 {
    margin: 0;
    font-size: 15px;
    padding: 7px;
    font-weight: 700;
    max-height: 50px;
    float: left;
}
.currensyUl {
    float: left;
    list-style: none;
    font-weight: 700;
    margin: 0;
}
.currensyUl li {
    float: left;
    padding: 6px;
}
.loginPartial {
    float: right;
    list-style: none;
    font-weight: 700;
    margin: 0;
}
.loginPartial li {
    float: left;
    padding: 6px;
} 
.loginPartial li span {
    margin: 0 0 0 13px;
}
.loginPartial li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.loginPartial li a:hover {
    color: orangered;
    font-weight: 700;
}
footer {
    width: 100%;
    padding: 30px;
    background-color: black;
    text-align: center;
    color: white;
}
/*Top slider*/
.topSliderBlock {
    position: relative;
}
.sl_1 {
    width: 100%;
    background-image: url("/Content/images/fiber_optic.jpg");
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
.sl_2 {
    width: 100%;
    background: url("/Content/images/SIP.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.sl_3 {
    width: 100%;
    background: url("/Content/images/vols.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.fonFade {
    width: 100%;
    height: 100%;
    padding: 12% 0;
    background-color: rgba(0, 0, 0, 0.49);
}
.fonFade h3 {
    color: white;
    margin: 20px 0;
}
.fonFade p {
    color: white;
    font-weight: 100;
    font-size: 300%;
}
.fonFade p span {
    color: yellow;
}
.fonFade a {
    display: inline-block;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    border: solid 3px white;
    border-radius: 15px;
    cursor: pointer;
    font-family: "RobotoCondensedRegular";
}
.fonFade a:hover {
    background-color: rgb(0, 122, 203);
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.prevItem {
    position: absolute;
    top: 50%;
    z-index: 99;
}
.prevItem span {
    background-image: url("/Content/images/mairala/sliderarrows.png");
    width: 60px;
    height: 60px;
    float: left;
    background-position: 13px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.nextItem {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 99;
}
.nextItem span {
    background-image: url("/Content/images/mairala/sliderarrows.png");
    width: 60px;
    height: 60px;
    float: right;
    background-position: -39px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.slider_wrapper h1 {
    margin: 0;
    color: white;
}
/*End top slider*/
.specPredlog {
    text-align: center;
    padding: 40px 0 10px 0;
    border-bottom: solid 40px rgb(0, 122, 203);
}
.specPredlog h1 {
    color: rgb(0, 122, 203);
    font-family: "RobotoCondensedRegular";
    margin: 0;
    padding: 50px 0 0 0;
}
.specPredlog>a {
    font-family: "RobotoCondensedRegular";
    color: red;
    margin: 10px 0 20px;
    font-size: 25px;
    cursor: pointer;
}
.hotItem {
    position: relative;
    padding: 15px;
    height: 210px;
    overflow: hidden;
}
.hotItem img {
    max-width: 50%;
    float: left;
}
.hotFooter {
    background: url("/Content/images/bgHOT.jpg") repeat-y 0 0 #ebebeb;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
}
.hotFooter a {
    font-family: "RobotoCondensedRegular";
    float: left;
    margin: 8px 0 0 25px;
    display: block;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}
.hotFooter p {
    float: right;
    padding: 3px 25px 3px 25px;
    font-family: "RobotoCondensedRegular";
    color: red;
    font-size: 20px;
    background-color: white;
    line-height: 30px
}
/*navString*/
.navString {
    width: 100%;
    height: 50px;
    background-color: black;
    overflow: hidden;
}
.navString ul {
    list-style: none;
    margin: 0 0 0 25%;
}
.navString ul li {
    float: left;
    display: inline-block;
    padding: 10px 35px 0 0;
}
.navString ul li a {
    font-family: "RobotoCondensedRegular";
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.71);
    cursor: pointer;
}
.navString ul li a:hover {
    color: white;
}
.fixTop {
    position: fixed;
    top: 29px;
    z-index: 999;
    background-color: rgb(0, 122, 203);
}
/*end navString*/
/*catalog*/
.catalog {
}
.catDescr {
    margin: 0;
    background: url("/Content/images/skills_new.jpg") no-repeat center center;
    padding: 50px;
    background-color: black;
    text-align: center;
    color: white;
}
.catDescr a {
    margin: 0;
    font-family: "RobotoCondensedRegular";
    font-size: 3em;
    cursor: pointer;
    letter-spacing: 10px;
    color: rgb(0, 122, 203);
}
.catDescr a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 122, 203);
}
.catDescr span {
    border-top: 3px solid #0697fe;
    padding: 0 200px;
}
.catDescr p {
    letter-spacing: 3px;
}
.catalog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 300px;
}
.catalog ul li {
    position: relative;
    margin: 0;
    float: left;
    padding: 0;
    width: 25%;
    height: 300px;
}
.v1 {
    background: url("/Content/images/products/twist-pair.jpg") no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
.v2 {
    background: url("/Content/images/products/foc.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.v3 {
    background: url("/Content/images/products/plint.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.v4 {
    background: url("/Content/images/products/944_big.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.v5 {
    background: url("/Content/images/products/sip.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.v6 {
    background: url("/Content/images/products/fiber.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.v7 {
    background: url("/Content/images/products/racks.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.v8 {
    background: url("/Content/images/products/fsm-80.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.v1_descr {
    position: absolute;
    bottom: 0;
    background-color: #0a538b;
    background-color: rgba(10, 83, 139, 0.73);
    width: 100%;
    overflow: hidden;
    height: 50px;
    text-align: center;
    transition: all .5s;
}

.v1_descr p {
    color: white;
}
.v1_descr p:first-child {
    font-weight: 700;
}
.v1_descr span {
    border-top: solid 1px white;
    padding: 0 150px; 
}
.v1:hover .v1_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}
.v2:hover .v1_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}
.v3:hover .v1_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}
.v4:hover .v1_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}
.v2_descr {
    position: absolute;
    top: 0;
    background-color: #0a538b;
    background-color: rgba(10, 83, 139, 0.73);
    width: 100%;
    overflow: hidden;
    height: 50px;
    text-align: center;
    transition: all .5s;
}

.v2_descr p {
    color: white;
}
.v2_descr p:first-child {
    font-weight: 700;
}
.v2_descr span {
    border-top: solid 1px white;
    padding: 0 150px; 
}
.v5:hover .v2_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}
.v6:hover .v2_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}
.v7:hover .v2_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}
.v8:hover .v2_descr {
    padding: 3%;
    height: 100%;
    bottom: 0;
    transition: all .5s;
}

/*end catalog*/
/*ABOUT SEC*/
.aboutTitle {
    background-color: white;
    padding: 50px 0;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color:#0697fe;
}
.aboutTitle span {
    border-top: solid 2px #0697fe;
    padding: 0 150px;
}
.aboutTitle p {
    color: rgb(26, 26, 26);
}
.aboutShotStory {
    background-color: black;
    padding: 0 0 0 200px;
}
.aboutShotStory img {
    float: right;
}
.aboutShotStory h3 {
    font-weight: 700;
    color: #0697fe;
    margin: 0;
    padding: 50px 20px;
}
.aboutShotStory h6 {
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 2px;
}
.aboutShotStory p {
    line-height: 25px;
    padding: 20px 0;
    color: darkgrey;
    text-align: justify;
}
.aboutShotStory p:first-letter {
    margin: 0 0 0 30px;
}
.aboutShotStory a {
    padding: 25px 30px;
    color: white;
    border: solid 2px white;
    display: inline-block;
    margin: 50px 0;
}
/*END ABOUT*/
/*advantages*/
.advantages {
    padding: 50px;
    text-align: center;
}
.advantages h1 {
    color: #0697fe;
    font-family: "RobotoCondensedRegular";
    font-size: 2.5em;
    margin: 0 0 10px;
}
.advantages span {
    border-top: solid 2px #0697fe;
    padding: 0 150px;
}
.advantages > p {
    margin: 20px;
    font-size: 20px;
}
.advantages h3 {
    color: #0697fe;
    font-family: "RobotoCondensedRegular";
}
/*end advantages*/
/*aforizm*/
.aforizm {
    padding: 50px;
    background-color: #1a1a1a;
    text-align: center;
}
.aforizm h1 {
    color: whitesmoke;
    font-family: "RobotoCondensedRegular";
    letter-spacing: 2px;
}
.aforizm p {
    color: rgb(241, 218, 188);
    font-family: "RobotoCondensedRegular";
    letter-spacing: 3px;
    font-size: 25px;
}
/*end aforizm*/