<div class="loginPart" id="logPart">
    <ul>
        <li><a href="@Url.Action("Login","Security")">ВОЙТИ<i class="fa fa-arrow-circle-o-right"></i></a></li>
        <li><a href="@Url.Action("Register","Security")">РЕГИСТРАЦИЯ<i class="fa fa-arrow-circle-o-right"></i></a></li>
    </ul>
</div>