<div class="menegerShort" data-bind="visible:Common.isDetails(false), click:Common.showDetails(true)">
    <img alt="" src="/Upload/CustomerAvatars/10_me.png"/>
    <div class="anyQuestions">
        <h1>Есть вопросы?</h1>
        <p><i class="fa fa-phone" aria-hidden="true"></i>8(8652) 99-19-13
        </p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i>+7-928-373-16-13</p>
    </div>
</div>
<div class="persHelper hidden-xs hidden-sm" data-bind="visible:Common.isDetails(true)" style="display: none">
    <div class="persWrap">
        <h1>Ваш менеджер</h1>
        <img src="/Upload/CustomerAvatars/10_me.png" alt="" />
        <p>Здраствуйте, меня зовут <span>Петр</span>.</p>
        <p>Я менеджер компании</p>
        <p><span>"Торговый дом "АЙДИ-С"</span></p>
        <ul>
            <li>Тел.: 8(8652) 99-19-13</li>
            <li>Сот.: +7-928-373-16-13</li>
            <li>Почта: <a href="mailto:sale@id-racks.ru">sale@id-racks.ru</a></li>
            <li>Skype: manfice</li>
        </ul>
        <div class="callMe" data-bind="visible:Common.optionsMeneger()==='CALL'">
            <p>Позвоните мне</p>
            <div class="phoneBlock">
                <input type="tel" name="tPh" data-bind="value:Common.phone, valueUpdate:'keyup'" placeholder="Телефон"/><button type="button" data-bind="enable:Common.phone"><i class="fa fa-phone" aria-hidden="true"></i></button>
            </div>
            <button data-bind="visible:Common.optionsMeneger()==='CALL', click:Common.setOption.bind($data,'NONE')"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <div class="mailMe" data-bind="visible:Common.optionsMeneger()==='MAIL'">
            <p>Отправить сообщение:</p>
            <div class="mailMessage">
                <input type="email" name="email" data-bind="value:Common.mailMessage.email" placeholder="Ваш E-mail" />
                <textarea data-bind="textInput:Common.mailMessage.message" placeholder="Сообщение..."></textarea>
            </div>
            <div class="persControls">
                <button type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button data-bind="visible:Common.optionsMeneger()==='MAIL', click:Common.setOption.bind($data,'NONE')"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="persControls">
            <button data-bind="visible:Common.optionsMeneger()==='NONE', click:Common.setOption.bind($data,'CALL')"><i class="fa fa-phone" aria-hidden="true"></i></button>
            <button data-bind="visible:Common.optionsMeneger()==='NONE', click:Common.setOption.bind($data,'MAIL')"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
            <button type="button" data-bind="click:Common.showDetails(false),visible:Common.optionsMeneger()==='NONE'"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

