<div id="slider">
    <div id="imges">
        <img id="img1" src="~/Content/images/scs960_640.jpg" alt="СКС любого маштаба" />
        <img id="img2" src="~/Content/images/vols960_640.jpg" alt="Все для волоконно-оптических линий связи" />
        <img id="img3" src="~/Content/images/dc960_640.jpg" alt="Активное оборудование для дома, офиса и провайдеров" />
        <img id="img4" src="~/Content/images/tele960_640.jpg" alt="Сетевая расходка" />
    </div>
    <div id="Snav">
        <div id="SnavUp">
            <h2 id="Title0" class="showed">Компоненты СКС, инструмент, расходные материалы.<br /> <strong>В наличии!</strong></h2>
            <h2 id="Title1" class="hidden">Арматура и кабель для ВОЛС.<br /> Оборудование <strong>GPON</strong>*.</h2>
            <h2 id="Title2" class="hidden">Активное оборудование связи.<br />Коммутаторы, медиаконвертеры, мультиплексоры, АТС.</h2>
            <h2 id="Title3" class="hidden">Полный спектр расходных материалов <br /> и интрумента для сетей любого уровня сложности.</h2>
            <div id="NavDots">
                <ul>
                    <li><span id="D0" class="glyphicon glyphicon-record" onclick="DotClick(0)"></span></li>
                    <li><span id="D1" class="glyphicon glyphicon-record" onclick="DotClick(1)"></span></li>
                    <li><span id="D2" class="glyphicon glyphicon-record" onclick="DotClick(2)"></span></li>
                    <li><span id="D3" class="glyphicon glyphicon-record" onclick="DotClick(3)"></span></li>
                </ul>
            </div>
        </div>
        <div id="SnavMiddle">
            <span id="Sleft" class="glyphicon glyphicon-chevron-left" onclick="MovePriv()"></span>
            <span id="Sright" class="glyphicon glyphicon-chevron-right" onclick="MoveNext()"></span>
        </div>
        <div id="SnavBottom" class="description">
            <!--Этот контейнер нужно копировать на каждый слайд-->
            <div id="Descr0" class="descr-content">
                <h2>Компоненты СКС в наличии и под заказ.</h2>
                <h3 class="price"></h3>
                <p>
                    В ассортименте компании <strong>Industrial Development&copy;</strong> имеется широкий ассортимент
                    оборудования, расходных материалов, инструмента для построения структурированных кабельных систем
                    любого уровня сложности. Мы предлагаем: кроссировочные и патч-панели, соеденительные провода,
                    настенные/напольные/антивандальные шкафы стандарта 19&rdquo;, распределительные и телефонные шкафы,
                    открытые монтажные стойки стандарта 19&rdquo;, инструмент для монтажа и обслуживания СКС, ЛВС, телефонии.
                    Кабели на основе витых пар (медь/омедненка), для внутренней и внешней прокладки, коннекторы.
                    Мы поставляем оборудование от Российских, Европейских и Китайских производителей. <br /><strong>
                        Большой выбор
                        оборудования в наличии, на складе в г. Ставрополе.
                    </strong>
                </p>
            </div>
            <div id="Descr1" class="descr-content hidden">
                <h2>Оборудование и расходные материалы для ВОЛС.</h2>
                <h3 class="price"></h3>
                <p>
                    Мы предлагаем полный ассортимент товаров для волоконно-оптических линий связи. Арматура для воздушных линий связи (подвесы,
                    зажимы, лента, фурнитура). Оптический кабель от ведущих Российских и Белорусских производителей (одномодовый, одно/многомодульный,
                    внешний/внутренний силовой элемент, бронированные, для канализации/грунта/воздушной прокладки/внутриобъектовый). Оптическая расходка:
                    патч-корды, кроссы, КДЗС, адаптеры.<br /> В ассортименте есть оборудование <strong>GPON</strong>. Сеть GPON относится к одной
                    из разновидностей пассивных оптических сетей (PON). Это одно из самых современных и эффективных решений задач “последней мили”,
                    позволяющее существенно экономить на кабельной инфраструктуре и обеспечивающее скорость передачи информации до 2.5 Gbps в направлении
                    downlink и 1.25 Gbps в направлении uplink. Использование в сетях доступа решений на базе технологии GPON дает возможность предоставлять
                    конечному пользователю доступ к новым услугам на базе протокола IP совместно с традиционными сервисами.
                </p>
            </div>
            <div id="Descr2" class="descr-content hidden">
                <h2>Все, что требуется для сетей передачи данных.</h2>
                <h3 class="price"></h3>
                <p>
                    Наша компания предлагает своим клиентам лучшее на рынке оборудования для провайдеров, корпоративных сетей, частных лиц.
                    Большой ассортимент, широкий выбор производителей. Мы предоставляем полный спектр решений для от ведущих производителей:
                    <strong>Zyxel, D-Link, Gigalink, TP-Link, Cisco, Panasonic, Edge-core</strong>.
                </p>
            </div>
            <div id="Descr3" class="descr-content hidden">
                <h2>Широкий ассортимент продукции в наличии</h2>
                <h3 class="price"></h3>
                <p>
                    Только у нас Вы можете прийти и приобрести все, что вы искали. У нас более 500 наименований продукции в наличии на складе.
                    Всю продукцию можно посмотреть, подержать в руках, проверить. Мы не предлагаем "кота в мешке". Приходите, проверьте.
                    Будем рады вас видеть по адресу: Российская Федерация 355041, Ставропольский край, г. Ставрополь, ул. Л. Толстого, д.53
                </p>
            </div>
        </div>
    </div>
</div>
