@section scripts{
    
}
<div class="topSliderBlock">
    <div class="owl-carousel" id="topSlide">
        <div class="item sl_1 slider_wrapper">
            <div class="fonFade">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Активные и пасивные оптические компоненты.</h3>
                            <p>
                                ОПТИЧЕСКИЕ <span>ПАТЧ-КОРДЫ</span>, ПИГ-ТЭИЛЫ<br/>
                                КАБЕЛЬ ДЛЯ ОПТИЧЕСКИХ <span>ЛИНИЙ СВЯЗИ</span><br/>
                                ОБОРУДОВАНИЕ И <span>КОМПОНЕНТЫ</span> G-PON
                            </p>
                            <a>ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item sl_2 slider_wrapper">
            <div class="fonFade">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Арматура для СИП.</h3>
                            <p>
                                ОБОРУДОВАНИЕ И <span>МАТЕРИАЛЫ</span>, ДЛЯ СИП.<br />
                                <span>АРМАТУРА:</span>
                                НАТЯЖНАЯ, <span>ЗАЩИТНАЯ</span>, СПИРАЛЬНАЯ, <span>СЦЕПНАЯ</span>. УЗЛЫ КРЕПЛЕНИЯ
                            </p>
                            <a>ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item sl_3 slider_wrapper">
            <div class="fonFade">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Арматура для воздушных оптических линий связи</h3>
                            <p>
                                ПОДВЕСНАЯ АРМАТУРА, <span>МУФТЫ</span>, ЗАЖИМЫ<br/>
                                <span>ИНСТРУМЕНТ</span>, ОБОРУДОВАНИЕ ДЛЯ МОНТАЖА.<br/> 
                                ПРОИЗВОДСТВО <span>РОССИИ</span>, КИТАЯ.
                            </p>
                            <a>ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sliderControls">
        <i class="prevItem"><span></span></i>
        <i class="nextItem"><span></span></i>
    </div>
</div>