
@{
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
    <link href="~/Content/Shop/shopSPA.css" rel="stylesheet"/>
}
<div class="shopWrapper">
    <div class="topOffer">
        <div class="ofLand">
            <img src="/Content/Shop/lendman2.png" alt=""/>
            <div class="offertitle">
                <div class="offerList">
                    <img alt="" src="/Content/images/Uploads/Categories/111.png" width="150"/>
                </div>
                <a>
                    <h1>Осеннее смелое предложение, таких цен больше не будет!</h1>
                </a>
            </div>
        </div>
    </div>
</div>