
@{
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
    <link href="~/Content/Shop/shopSPA.css" rel="stylesheet"/>
}
@section scripts{
<script src="~/Scripts/shop/shopClient.js"></script>
<script src="~/Scripts/shop/shopModel.js"></script>
}
<div class="shopWrapper" id="megashop">
    <div class="topOffer" style="display: none;" data-bind="visible:Shop.showModel.topOffer">
        <div class="ofLand">
            <img src="/Content/Shop/lendman2.png" alt=""/>
            <div class="offertitle">
                <div id="offerCarousel">

                </div>
                <a>
                    <h1>Осеннее смелое предложение, таких цен больше не будет!</h1>
                </a>
            </div>
        </div>
    </div>

    <div class="letsComeTogether">
        <h1>присоеденяйтесь к нам</h1>
        <img alt="" src="/Content/images/thesun.png"/>
        <div class="inpEl">
            <div class="inpFields">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="sName" value="" placeholder="Как к Вам обращаться?"/>
            </div>
            <div class="inpFields">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" name="sEmail" value="" placeholder="Ваш адрес e-mail"/>
            </div>
            <button><img alt="" src="/Content/images/hs.png"/></button>
        </div>
        <button type="button" data-bind="click:Shop.setSearch, style:{ backgroundColor:Shop.showModel.searchTab()?'orangered':'transparent'}"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button type="button" data-bind="click:Shop.setTool, style:{ backgroundColor:Shop.showModel.toolsTab()?'green':'transparent'}"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
    <div class="shopSearch" style="display: none" data-bind="visible:Shop.showModel.searchTab">
        <h1>поиск по товарам:</h1>
        <input type="text" name="serch" value=""/><button>поехали</button>
    </div>
    <div class="shopTools" style="display: none" data-bind="visible:Shop.showModel.toolsTab">

    </div>
    <div class="megaShop">
        <div class="leftSide">
            @Html.Partial("placeholders/_leftMenus")
        </div>
        <div class="middleSide">
            @Html.Partial("placeholders/_middleSide")
        </div>
        <div class="rightSide">
            @Html.Partial("placeholders/_rightSide")
        </div>
    </div>
</div>