
@{
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
    <link href="~/Content/Shop/shopSPA.css" rel="stylesheet"/>
}
<div class="shopWrapper">
    <div class="topOffer">
        <div class="ofLand">
            <img src="/Content/Shop/lendman2.png" alt=""/>
            <div class="offertitle">
                <div id="offerCarousel" class="carousel slide" data-interval="15000" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="offerItem">
                                <img src="/Content/images/Uploads/Categories/022ab783-cd4f-43fc-a9ee-83614757393b_lclc.png" alt="" />
                                <div class="offerItemDescr">
                                    <h2>Шнур оптический spc SC/UPC-SC/UPC 9/125 3.0мм 0.5м LSZH (патч-корд)</h2>
                                    <h3>IDS-LCLC-UPC-1</h3>
                                    <p>Оптический патч-корд состоит из симплексного или дуплексного кабеля,
                                        простым языком – из кабеля с одним или двумя волокнами. Все оптические
                                        волокна делятся на две основные группы: многомодовые MMF (multi mode fiber) и
                                        одномодовые SMF (single mode fiber).
                                    </p>
                                    <div class="offerPrice">
                                        <h3>от 56р./шт.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="offerItem">
                                <img src="/Content/images/Uploads/Categories/022ab783-cd4f-43fc-a9ee-83614757393b_lclc.png" alt="" />
                                <div class="offerItemDescr">
                                    <h2>Шнур оптический соеденительный LC-LC SM UPC 1 метр</h2>
                                    <h3>IDS-LCLC-UPC-1</h3>
                                    <p>
                                        Оптический патч-корд состоит из симплексного или дуплексного кабеля,
                                        простым языком – из кабеля с одним или двумя волокнами. Все оптические
                                        волокна делятся на две основные группы: многомодовые MMF (multi mode fiber) и
                                        одномодовые SMF (single mode fiber). 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a>
                    <h1>Осеннее смелое предложение, таких цен больше не будет!</h1>
                </a>
            </div>
        </div>
    </div>
</div>