@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
    ViewBag.description = "404 - что-то пошло не так...";
}
@section links
{
    <link href="~/Content/exceptions.css" rel="stylesheet" />
}
<div class="errorBlock">
    <h1>404 - что-то пошло не так...</h1>
    <div class="poem">
        
    </div>
</div>