<div class="wrapper" style="width:800px;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;color:#6d5f5f;border-width:3px;border-style:solid;border-color:green;">
    <div class="title" style="text-align:center;font-family:'Arial';background-color:#0095ff;color:white;border-bottom-width:5px;border-bottom-style:solid;border-bottom-color:white;padding-top:15px;padding-bottom:15px;padding-right:5px;padding-left:5px;">
        <img src="http://www.id-racks.ru/content/images/letters/idlogoblack.png" width="100">
        <h1 style="margin-top:5px;margin-bottom:5px;margin-right:5px;margin-left:5px;font-size:1.5em;">Компания Торговый дом "АЙДИ-С"</h1>
        <p style="margin-top:5px;margin-bottom:5px;margin-right:5px;margin-left:5px;">предлагает рассмотреть наше предложение по телекоммуникационному оборудованию.</p>
    </div>
    <div class="aboutCompany" style="background-color:#d7fff4;padding-top:15px;padding-bottom:15px;padding-right:5px;padding-left:5px;font-family:'Arial';">
        <p style="margin-top:5px;margin-bottom:5px;margin-right:0;margin-left:0;">Наша компания работает на рынке с 2010г. Мы активно сотрудничаем с интернет провайдерами, строительными и монтажными организациями.</p>
        <p style="margin-top:5px;margin-bottom:5px;margin-right:0;margin-left:0;">Мы предлагаем широкий асортимент оборудования для строительства и поддержки линий связи.</p>
        <h3>Наши преимущества:</h3>
        <ul>
            <li>Наличие склада - мы держим товар в наличии.</li>
            <li>Наши цены - просто посмотрите на нашем сайте.</li>
            <li>Свое производство - мы изготавливаем оптические шнуры.</li>
            <li>Доставка до ТК от 20.000р. - БЕССПЛАТНО!</li>
            <li>Опытные менеджеры - каждый имеет опыт работы в сфере связи от 3х лет.</li>
        </ul>
        <p style="margin-top:5px;margin-bottom:5px;margin-right:0;margin-left:0;">Компания <span style="font-weight:bold;">"Торговый дом "АЙДИ-С"</span> - надежный и ответственный поставщик, которому доверяют! Мы постоянно отслеживаем состояние рынка, что-бы предоставить актуальное оборудование и цены.</p>
    </div>
    <div class="portal" style="font-family:'Arial';padding-top:25px;padding-bottom:25px;padding-right:10px;padding-left:10px;text-align:center;">
        <h2 style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;">Весь асортимент Вы можете просмотреть на нашем сайте</h2>
        <h4 style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;">мы предлагаем новым клиентам оптовые цены сразу после регистрации</h4>
        <h4 style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;">на нашем сайте</h4>
        <p>предложение действует до ноября 2016г.</p>
        <a href="http://www.id-racks.ru/Shop/ShowOffers" style="background-color:#00a750;padding-top:15px;padding-bottom:15px;padding-right:30px;padding-left:30px;line-height:30px;color:white;font-weight:bolder;font-size:1.2em;">ПЕРЕЙТИ В МАГАЗИН</a>
        <p>хотим обратить Ваше внимание на то, что все цены указаны <span style="font-weight:bold;">С НДС</span></p>
    </div>
    <div class="offer" style="text-align:center;">
        <h2>У нас вы найдёте все необходимое для сетей <br /> ВОЛС, ЛВС, GPON/FTTx</h2>
        <div class="offerItem" style="display:inline-block;width:220px;border-width:3px;border-style:solid;border-color:green;margin-top:10px;margin-bottom:10px;margin-right:15px;margin-left:15px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;">
            <a href="http://www.id-racks.ru/Shop/CatDetails?catId=7" style="text-decoration:none;">
                <img src="http://www.id-racks.ru/Content/images/Uploads/Categories/scsc.png" width="220">
                <div class="offerDescr" style="width:100%;height:50px;background-color:#0095ff;color:white;text-align:center;padding-top:1px;padding-bottom:0;padding-right:0;padding-left:0;">
                    <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-family:'Arial';">Оптические шнуры, кроссы, адаптеры</p>
                </div>
            </a>
        </div>
        <div class="offerItem" style="display:inline-block;width:220px;border-width:3px;border-style:solid;border-color:green;margin-top:10px;margin-bottom:10px;margin-right:15px;margin-left:15px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;">
            <a href="http://www.id-racks.ru/Shop/CatDetails?catId=21" style="text-decoration:none;">
                <img src="http://www.id-racks.ru/Content/images/Uploads/Categories/netlan.jpg" width="220">
                <div class="offerDescr" style="width:100%;height:50px;background-color:#0095ff;color:white;text-align:center;padding-top:1px;padding-bottom:0;padding-right:0;padding-left:0;">
                    <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-family:'Arial';">Все виды кабелей на основе витых пар. UTP/FTP</p>
                </div>
            </a>
        </div>
        <div class="offerItem" style="display:inline-block;width:220px;border-width:3px;border-style:solid;border-color:green;margin-top:10px;margin-bottom:10px;margin-right:15px;margin-left:15px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;">
            <a href="http://www.id-racks.ru/Shop/ShowProducts?catId=98" style="text-decoration:none;">
                <img src="http://www.id-racks.ru/Content/images/Uploads/Categories/bk7.png" width="220">
                <div class="offerDescr" style="width:100%;height:50px;background-color:#0095ff;color:white;text-align:center;padding-top:1px;padding-bottom:0;padding-right:0;padding-left:0;">
                    <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-family:'Arial';">Антивандальные шкафы, абонентские ящики</p>
                </div>
            </a>
        </div>
        <div class="offerItem" style="display:inline-block;width:220px;border-width:3px;border-style:solid;border-color:green;margin-top:10px;margin-bottom:10px;margin-right:15px;margin-left:15px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;">
            <a href="http://www.id-racks.ru/Shop/CatDetails?catId=9" style="text-decoration:none;">
                <img src="http://www.id-racks.ru/Content/images/Uploads/Categories/pr540x420.jpg" width="220">
                <div class="offerDescr" style="width:100%;height:50px;background-color:#0095ff;color:white;text-align:center;padding-top:1px;padding-bottom:0;padding-right:0;padding-left:0;">
                    <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-family:'Arial';">Шкафы и стойки 19". Настенные, напольные</p>
                </div>
            </a>
        </div>
        <div class="offerItem" style="display:inline-block;width:220px;border-width:3px;border-style:solid;border-color:green;margin-top:10px;margin-bottom:10px;margin-right:15px;margin-left:15px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;">
            <a href="http://www.id-racks.ru/Shop/CatDetails?catId=20" style="text-decoration:none;">
                <img src="http://www.id-racks.ru/Content/images/Uploads/Categories/ava.jpg" width="220">
                <div class="offerDescr" style="width:100%;height:50px;background-color:#0095ff;color:white;text-align:center;padding-top:1px;padding-bottom:0;padding-right:0;padding-left:0;">
                    <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-family:'Arial';">Оптический кабель для сетей FTTx / GPON</p>
                </div>
            </a>
        </div>
        <div class="offerItem" style="display:inline-block;width:220px;border-width:3px;border-style:solid;border-color:green;margin-top:10px;margin-bottom:10px;margin-right:15px;margin-left:15px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;">
            <a href="http://www.id-racks.ru/Shop/CatDetails?catId=26" style="text-decoration:none;">
                <img src="http://www.id-racks.ru/Content/images/Uploads/Categories/pp24.jpg" width="220">
                <div class="offerDescr" style="width:100%;height:50px;background-color:#0095ff;color:white;text-align:center;padding-top:1px;padding-bottom:0;padding-right:0;padding-left:0;">
                    <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-family:'Arial';">Все для СКС. Патч-панели, плинты, шнуры, инструмент</p>
                </div>
            </a>
        </div>
    </div>
    <div class="contacts" style="background-color:#0095ff;text-align:center;color:whitesmoke;font-family:'Arial';">
        <h3 style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">Наши контакты</h3>
        <a href="http://www.id-racks.ru" style="display:block;color:white;font-weight:bold;">www.id-racks.ru</a>
        <div class="contactItem" style="display:inline-block;margin-top:0;margin-bottom:0;margin-right:45px;margin-left:0;">
            <p>Отдел продаж:</p>
            <p>тел: 8(8652)99-19-13</p>
            <p>сот: +7(928)373-1613</p>
            <p>e-mail: sale@id-racks.ru</p>
        </div>
        <div class="contactItem" style="display:inline-block;margin-top:0;margin-bottom:0;margin-right:45px;margin-left:0;">
            <p>ООО "Торговый дом "АЙДИ-С"</p>
            <p>г. Ставрополь. ул.Л.Толстого, 53</p>
            <p>Режим работы:</p>
            <p>пн-пт с 10 до 17:00</p>
        </div>
        <div class="contactItem" style="display:inline-block;margin-top:0;margin-bottom:0;margin-right:45px;margin-left:0;">
            <img src="http://www.id-racks.ru/content/images/letters/idlogoblack.png" width="200">
        </div>
    </div>
    <footer class="foot" style="text-align:center;font-size:0.8em;">
        <p>Вы получили это письмо после звонка нашего менеджера, как коммерческое предложение.</p>
    </footer>
</div>