
	<div class="wrapper" style="width: 800px;padding: 5px;color: #6d5f5f;border: solid 3px green;">
		<div class="title" style="text-align: center;font-family: &quot;Arial&quot;;background-color: #0095ff;color: white;border-bottom: solid 5px white;padding: 15px 5px;">
			<img src="http://www.id-racks.ru/Content/images/id_logo.svg" width="100">
			<h1 style="margin: 5px;font-size: 1.5em;">Компания Торговый дом "АЙДИ-С"</h1>
			<p style="margin: 5px;">предлагает рассмотреть наше предложение по телекоммуникационному оборудованию.</p>
		</div>
		<div class="aboutCompany" style="background-color: #d7fff4;padding: 15px 5px;font-family: &quot;Arial&quot;;">
			<p style="margin: 5px 0;">Наша компания работает на рынке с 2010г. Мы активно сотрудничаем с интернет провайдерами, строительными и монтажными организациями.</p>
			<p style="margin: 5px 0;">Мы предлагаем широкий асортимент оборудования для строительства и поддержки линий связи.</p>
			<h3>Наши преимущества:</h3>
			<ul>
				<li>Наличие склада - мы держим товар в наличии.</li>
				<li>Наши цены - просто посмотрите на нашем сайте.</li>
				<li>Свое производство - мы изготавливаем оптические шнуры.</li>
				<li>Доставка до ТК от 20.000р. - БЕССПЛАТНО!</li>
				<li>Опытные менеджеры - каждый имеет опыт работы в сфере связи от 3х лет.</li>
			</ul>
			<p style="margin: 5px 0;">Компания <span style="font-weight: bold;">"Торговый дом "АЙДИ-С"</span> - надежный и ответственный поставщик, которому доверяют! Мы постоянно отслеживаем состояние рынка, что-бы предоставить актуальное оборудование и цены.</p>
		</div>
		<div class="portal" style="font-family: &quot;Arial&quot;;padding: 25px 10px;text-align: center;">
			<h2 style="margin: 0;">Весь асортимент Вы можете просмотреть на нашем сайте</h2>
			<h4 style="margin: 0;">мы предлагаем новым клиентам оптовые цены сразу после регистрации</h4>
			<h4 style="margin: 0;">на нашем сайте</h4>
			<p>предложение действует до ноября 2016г.</p>
			<a href="http://www.id-racks.ru/Shop/ShowOffers" style="background-color: #00a750;padding: 15px 30px;line-height: 30px;color: white;font-weight: bolder;font-size: 1.2em;">ПЕРЕЙТИ В НАШ МАГАЗИН</a>
			<p>хотим обратить Ваше внимание на то, что все цены указаны <span style="font-weight: bold;">С НДС</span></p>
		</div>
		<div class="offer">
			<h2>... и еще!</h2>
			<p>Мы предлагаем нашим клиентам услуги по реализации остатков с объектов и принимаем товары на коммисию.</p>
			<p>Если быть точнее, на нашем сайте присутствует раздел "БАРАХОЛКА". Там можно найти интересные предложения от компаний и приобрести/продать товар по хорошей цене.</p>
		</div>
		<div class="contacts" style="background-color: #0095ff;text-align: center;color: whitesmoke;font-family: &quot;Arial&quot;;">
		<h3 style="margin: 0;padding: 15px;">Наши контакты</h3>
		<a href="http://www.id-racks.ru" style="display: block;color: white;font-weight: bold;">www.id-racks.ru</a>
			<div class="contactItem" style="display: inline-block;margin: 0 45px 0 0;">
				<p>Отдел продаж:</p>
				<p>тел: 8(8652)99-19-13</p>
				<p>сот: +7(928)373-1613</p>
				<p>e-mail: sale@id-racks.ru</p>
			</div>
			<div class="contactItem" style="display: inline-block;margin: 0 45px 0 0;">
				<p>ООО "Торговый дом "АЙДИ-С"</p>
				<p>г. Ставрополь. ул.Л.Толстого, 53</p>
				<p>Режим работы:</p>
				<p>пн-пт с 10 до 17:00</p>
			</div>
			<div class="contactItem" style="display: inline-block;margin: 0 45px 0 0;">
				<img src="http://www.id-racks.ru/Content/images/id_logo.svg" width="200">
			</div>
		</div>
		<footer class="foot" style="text-align: center;font-size: 0.8em;">
			</footer><p>Вы получили это письмо после звонка нашего менеджера, как коммерческое предложение.</p>
		
	</div>
