    <div class="container" style="width: 960px;margin: 0 auto;font-family: 'Oswald', sans-serif;">
        <div class="header" style="height: 50px;width: 100%;background: linear-gradient(165deg,dodgerblue, lightblue);">
            <h2 style="margin: 0;padding: 5px 0 0 50px;color: white;">Industrial Development</h2>
        </div>
        <div class="directorPhoto" style="background: url(http://www.id-racks.ru/Content/images/letters/bm.jpg) no-repeat;background-size: 100%;height: 400px;position: relative;">
            <h2 style="margin: 0;position: absolute;top: 30px;left: 50px;">ДОБРОГО ВРЕМЕНИ СУТОК</h2>
            <h4 style="margin: 0;position: absolute;top: 70px;left: 50px;text-transform: uppercase;">УВАЖАЕМЫЙ(АЯ), {0}.</h4>
            <p style="margin: 0;width: 400px;text-align: justify;position: absolute;top: 100px;left: 50px;">
                Меня зовут Александр Кравченко. Я являюсь директором ООО "Торговый дом "АЙДИ - С".
                Для нашей компании важно каждое письмо от наших постоянных и будущих клиентов. Я сам просмотрю выше обращение и отвечу на него в ближайшее время.
            </p>
        </div>
        <div class="letterBody" style="padding: 10px;">
            <h2>Уважаемый(ая), {0}.</h2>
            <p>Ответ прийдет на адрес: {3}</p>
            <h4>Вы писали нам с сайта {1} следующее сообщение:</h4>

            <blockquote style="background-color: antiquewhite;padding: 20px;font-style: italic;">{2}</blockquote>
            <p>Можете быть уверены, ваше письмо доставленно и будет рассмотренно в кратчайшее время.</p>
            <br>
            <p>********************************************</p>
            <br>
            <section class="greetings" style="margin: 0 20px;"></section><p>С уважением,</p>
            <p>директор компании ООО "Торговый дом "АЙДИ-С" </p>
            <p>Кравченко А.А.</p>
            <p>Тел./факс: +7-8652-99-99-99</p>
            <p>E-mail: ka.id@yandex.ru</p>

        </div>
        <footer style="background-color: orangered;text-align: center;">
            <a href="http://www.id-racks.ru" title="Перейти на сайт" style="margin: 0;font-size: 35px;text-decoration: none;color: white;">www.id-racks.ru</a>
        </footer>
    </div>
