<div class="container" style="max-width: 960px;background-color: #82aed9;text-align: center;margin: 10px auto;font-family: &quot;Segoe MDL2 Assets&quot;, sans-serif;">
    <div class="head" style="padding: 15px;">
        <h1>Восстановление пароля</h1>
        <p>
            Доброго времени суток, {0}.<br />
            Вы или кто-то посторонний воспользовались функцией восстановления пароля к Вашей учетной записи. <br />
            Если это были не Вы, просто проигнорируйте это сообщение.
        </p>

    </div>
    <div class="body" style="padding: 15px;">
        <h3>Ваши персональные данные:</h3>
        <h4>Ваш логин: {1}</h4>
        <h4>Сбросить пароль: {2}</h4>
    </div>
    <div class="footer">
        <address style="text-align: left;padding: 0 15px;">
            <p>---------------------------</p>
            <h4>С уважением, весь коллектив: <br> ООО "Торговый дом "АЙДИ-С"</h4>

            <p>355035,г. Ставрополь</p>
            <p>ул. Льва Толстого, 53</p>
            <p>тел./факс: +7-8652-99-99-99</p>
            <p>e-mail: ka.id@yandex.ru</p>
        </address>
        <h1 style="text-align: center;background-color: orangered;color: #ffffff;margin: 10px 0 0;">www.id-racks.ru</h1>
    </div>
</div>
