<div class="container" style="max-width: 960px;background-color: #82aed9;text-align: center;margin: 10px auto;font-family: &quot;Segoe MDL2 Assets&quot;, sans-serif;">
    <div class="head" style="padding: 15px;">
        <h1>СПАСИБО ЗА РЕГИСТРАЦИЮ</h1>
        <p>
            Наша компания глубоко Вам признательная за ваш выбор в пользу нашей продукции.
            Мы предлагаем широкий ассортимент товаров для сетей передачи данных как отечественного, так и импортного производства.
            У нас вы всегда найдете приятные цены, широкий выбор, наличие товаров на складе.
        </p>

    </div>
    <div class="body" style="padding: 15px;">
        <h3>Ваши персональные данные:</h3>
        <h4>Ваш логин: {0}</h4>
        <h4>Ваш пароль: {1}</h4>
        <h4>Для завершения процедуры регистрации, Вам нужно подтвердить ваш E-Mail:</h4>
        <h4>{2}</h4>
        <h1>и еще...</h1>
        <p>
            <span>В</span> знак нашей признательности, мы предоставляем Вам скидку на всю сумму вашей корзины в размере <strong>2%</strong>.
            Скидка действует в течении первых 30 дней с момента вашей регистрации и может быть увеличена в зависимости от Вашего оборота.
        </p>
        <p>
            <span>Свой</span> первый статус партнера и постоянную скидку в размере <strong>10%</strong> Вы можете получить уже за первые <strong>50 000р.</strong> оборота.
            <br><strong>500р.</strong> - на дороге не валяются.
        </p>
    </div>
    <div class="footer">
        <address style="text-align: left;padding: 0 15px;">
            <p>---------------------------</p>
            <h4>С уважением, весь коллектив: <br> ООО "Торговый дом "АЙДИ-С"</h4>

            <p>355035,г. Ставрополь</p>
            <p>ул. Льва Толстого, 53</p>
            <p>тел./факс: +7-8652-99-99-99</p>
            <p>e-mail: ka.id@yandex.ru</p>
        </address>
        <h1 style="text-align: center;background-color: orangered;color: #ffffff;margin: 10px 0 0;">www.id-racks.ru</h1>
    </div>
</div>
