@{
    ViewBag.Title = "О компании";
    Layout = "~/Views/Shared/_LayoutSFoot.cshtml";
    var date = DateTime.Now.Year - 2010;
}
<div class="about-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-history-box">
                    <h2>Industrial Development</h2>
                    <h3>@date лет на рынке телекоммуникационного оборудования</h3>
                    <p></p>
                    <img src="~/Content/images/id_logo.svg" alt="ID_Logo"/>
                </div>
            </div>
        </div>
        <div class="about-tabs">
            <ul>
                <li class="active"><a href="#tab1" data-toggle="tab">История</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Сертификаты</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">Реквизиты</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active bordered" id="tab1">
                    <div class="about-history-box">
                        <h2>2010 – Год основания компании.</h2>
                        <p class="cool-text">
                            В мае 2010 года коллектив из молодых, амбициозных специалистов
                            решили создать компанию «Industrial Development». Основополагающие принципы работы,
                            которой – это поставки высокотехнологичного сетевого оборудования для операторов
                            широкополосного доступа, организаций и частных лиц. Это было начало длинного,
                            не простого, но очень захватывающего пути от небольшого поставщика к мульти
                            брендовому дистрибьютору с широкой линейкой предлагаемых товаров, большим складом
                            в г. Ставрополе и отличной репутацией.
                        </p>
                        <p class="cool-text">
                            Как у большинства начинающих компаний, были взлёты и падения, удачи и провалы.
                            Все это сделало нашу организацию только крепче, продуктивней, надёжней.
                            Наша открытость к поставщикам, позволила отобрать лучшие предложения на
                            рынке и предлагать их нашим клиентам. Постоянно анализируя отзывы о продукции,
                            мы ставим производителям задачи на улучшения их изделий. Мы брались за разные
                            проекты, стараясь реализовать их в лучшем виде и наиболее короткий срок.
                        </p>
                        <p class="cool-text">
                            Полученный опыт мы постоянно вкладываем в нашу работу.
                        </p>
                        <hr />
                        <h2>2013 – Новые горизонты.</h2>
                        <p class="cool-text">
                            2013 год с уверенностью можно назвать годом, когда мы сделали качественный шаг вперёд.
                            Компания кардинально изменила свой подход к торговле. Ставка была сделана на наличие!
                            Мы проанализировали все свои проекты, всех наших партнёров и перешли от «работы под заказ»
                            к реализации продукции со склада. Опираясь на пожелания наших клиентов, товарные остатки
                            на складе росли, номенклатурный перечень расширялся. Что положительно сказалось на
                            репутации компании и повысило доверие клиентов и поставщиков.
                        </p>
                        <p class="cool-text">
                            В этот же год мы получили свой первый статус официального партнёра украинского завода
                            производителя <a href="http://ipcom.ua/" target="_blank"><strong>&laquo;IPcom&#8482;&raquo;</strong></a>. Мы первые начали развивать линейку антивандальных конструктивов
                            19″ стандарта на территории Ставропольского края.
                        </p>
                        <hr />
                        <h2>2014 – Расширение в регионы.</h2>
                    </div>
                </div>
                <div class="tab-pane bordered" id="tab2">
                <!--Сертификаты-->
                    <!--Тайле 2014-->
                    <div class="sert-section">
                        <div class="row">
                            <h3>Авторизованный партнер компании "Тайле"</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/31_12_14_Tayle.jpg" alt="Tayle" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>с 31 декабря 2013 по 31 декабря 2014г.</h4>
                                <p>
                                    Компания Тайле работает на рынке информационно-коммуникационных технологий с 1992 года.
                                    Основным направлением деятельности компании является разработка и дистрибуция сетевого и
                                    телекоммуникационного оборудования.
                                </p>
                                <p>
                                    Много IT-фирм родилось в те годы, но скольким из них в итоге удалось преодолеть экономические кризисы, политические реформы, финансовые крахи, выжить в условиях беспредела «госорганов» и общей неопределенности на рынке? Словно лодку в бушующем море, Тайле подбрасывало на волнах, кидало из стороны в сторону, трепало бурями. Но лишь крепче становился каркас и прочнее обшивка. И вот сейчас Тайле уже можно сравнить с многопалубным лайнером, который уверенно движется в заданном фарватере – вперед, к новым целям и новым вехам своей истории!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://www.tayle.ru/company" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--IPcom 2014-->
                    <div class="sert-section">
                        <div class="row">
                            <h3>Официальный дилер компании "Ipcom" по СКФО</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/ipcom.jpg" alt="IPcom" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>Действие сертификата бессрочно.</h4>
                                <p>
                                    Компания ipcom была основана в 2003 году и с даты основания является частью глобального рынка
                                    телекоммуникаций. Мы горды тем, что принимаем участие в его развитии и помогаем всем участникам
                                    рынка строить сети связи и предоставлять услуги, которые делают людей во всем мире ближе друг
                                    к другу Для того чтобы наши партнеры максимально сосредотачивались на решении своих задач мы
                                    предлагаем им интегральные индивидуальные решения от построения магистральных линий связи до
                                    решений последнего «дюйма».
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://ipcom.ua/" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--Install 2015-->
                    <div class="container sert-section">
                        <div class="row">
                            <h3>Официальный дистрибьютор компании "Install-dv"</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/01_03_15_install.jpg" alt="Install-dv" /></a>
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/01_08_16_install.jpg" alt="Install" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>с 01 марта 2014 по 01 марта 2015г.</h4>
                                <p>
                                    Группа Компаний «Инсталл» известна как производитель и поставщик высококачественного оборудования
                                    и материалов для строительства и ремонта сетей электроснабжения, подвеса и прокладки самонесущего
                                    изолированного провода, монтажа структурированных кабельных сетей и волоконно-оптических линий
                                    связи, активного сетевого оборудования.
                                </p>
                                <iframe width="400" height="300" src="https://www.youtube.com/embed/AalozbFuf5w" allowfullscreen></iframe>
                                <p>
                                    Компания работает в этой области с 2008 года и уже вышла на федеральный уровень. Сегодня у компании
                                    имеется собственное производство, открыто 8 филиалов в ключевых регионах страны, продукция компании
                                    эксплуатируется крупнейшими российскими компаниями, такими как ТТК, Yota, Эр-Телеком, «Мегафон», МТС,
                                    РЖД и многими другими.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://install-dv.ru/company/" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--Gigalink-->
                    <div class="container sert-section">
                        <div class="row">
                            <h3>Авторизованный дилер продукции "Gigalink"</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/24_03_15_gigalink.jpg" alt="Gigalink" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>с 24 марта 2014 по 24 марта 2015г.</h4>
                                <p>
                                    Продукция GIGALINK включает в себя компоненты для построения оптических сетей любой сложности – оптические модули,
                                    конвертеры и коммутаторы, соединительные кабели. Мы создали и постепенно расширяем линейку оборудования,
                                    поддерживающего РоЕ.
                                </p>
                                <p>
                                    GIGALINK прочно занимает свою нишу на рынке телекоммуникаций, благодаря адекватной ценовой политике и высокому
                                    качеству производимой продукции.
                                </p>
                                <p>
                                    Кроме того, мы предоставляем продукцию GIGALINK для тестирования как провайдерам, так и системным интеграторам.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://giga-link.ru/" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--Nikomax-->
                    <div class="container sert-section">
                        <div class="row">
                            <h3>Авторизованный дилер продукции "Nikomax"</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/24_03_15_nikomax.jpg" alt="Nikomax" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>с 24 марта 2014 по 24 марта 2015г.</h4>
                                <p>
                                    Кабельная инфраструктура — основа информационной среды любой организации, от её надёжности зависит
                                    работоспособность всей IT-системы предприятия. Благодаря высокому качеству компонентов и профессионализму
                                    разработчиков, СКС NIKOMAX является оптимальным решением для обустройства сети любого масштаба.
                                </p>
                                <p>
                                    Компания Тайле абсолютно уверена в качестве своей продукции, и это позволяет ей гарантировать 5 лет
                                    безотказной работы отдельных компонентов, входящих в состав CКС NIKOMAX, и предоставлять 25-ти летнюю
                                    Системную гарантию для сертифицированных объектов СКС NIKOMAX. Суть Системной гарантии заключается в том,
                                    что компания Тайле гарантирует сохранение эксплуатационных характеристик электропроводных линий и
                                    соответствие их функциональных параметров требованиям международного стандарта ISO/IEC 11801-2002 в
                                    течение 25 лет с момента оформления гарантийного сертификата непосредственно владельцу системы.
                                </p>
                                <p>
                                    CKC NIKOMAX включает в себя неэкранированные решения категории 5, 5е, 6 и экранированные решения категории
                                    5е, 6 и 6а. Вся продукция обеспечена соответствующими сертификатами, и потому может быть использована в
                                    проектах любого масштаба.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://nikomax.ru/" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--Rextron-->
                    <div class="container sert-section">
                        <div class="row">
                            <h3>Авторизованный дилер продукции "Rextron"</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/24_03_15_Rextron.jpg" alt="Rextron" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>с 24 марта 2014 по 24 марта 2015г.</h4>
                                <p>
                                    Rextron Technology Inc. была основана в 1998 году и на сегодня является ведущим производителем высококачественных KVM переключателей для управления множеством рабочих станций и серверов, построенных на различных платформах. На заводах Rextron, которые расположены в Тайване, всегда поддерживается высокий контроль за качеством продукции благодаря высококвалифицированному персоналу. С момента основания компании, продукция торговой марки Rextron уверенно закрепилась на рынках Европы, северной Америки, Японии и Китая, о чем свидетельствует множество теплых отзывов дилеров и конечных потребителей.
                                </p>
                                <p>
                                    Rextron является динамично развивающейся компанией. Ее основатели на протяжении более 10 лет активно работают и совершенствуют свои навыки в сфере производства KVM переключателей и сопутствующих продуктов. Благодаря огромному опыту команды инженеров в этой области, компания выпускает полную гамму высоконадежных, компактных, масштабируемых устройств и аксессуаров к ним. Сфера применения этих устройств от малого бизнеса до крупных предприятий. Оборудование Rextron - это надежный, гибкий и безопасный инструмент администрирования групп серверов, повышающий производительность труда.
                                </p>
                                <p>
                                    Благодаря высокому качеству продукции и конкурентноспособным ценам Rextron является брэндом, которому можно доверять, и на который можно положиться. Компания всегда находится в поиске новых идей и инноваций и готова их применять при производстве оборудования для максимального удовлетворения потребностей покупателей.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://www.rextron.su/" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--TLK-->
                    <div class="container sert-section">
                        <div class="row">
                            <h3>Авторизованный дилер продукции "TLK"</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/24_03_15_tlk.jpg" alt="TLK" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>с 24 марта 2014 по 24 марта 2015г.</h4>
                                <p>
                                    Продукция TLK известна на российском рынке с 2004г. Под этой торговой маркой поставляется телекоммуникационное оборудование – напольные, настенные, антивандальные и серверные шкафы, стойки и различные аксессуары к ним.
                                </p>
                                <p>
                                    Владельцем бренда, гарантом качества и крупнейшим дистрибутором TLK является Компания Тайле. Мы сотрудничаем только с крупными российскими заводами, которые зарекомендовали себя за длительное время сотрудничества в качестве надежного поставщика качественной продукции. Их производственные мощности, а также вся сила инженерной мысли, сосредоточенная в недрах нашего конструкторского отдела, вдыхают жизнь в безликие чертежи. Мы превращаем пожелания наших клиентов по функциональности и дизайну в готовые конструктивы, отвечающие самым высоким стандартам качества и требовательному слову техники.
                                </p>
                                <p>
                                    За последние 4 года оборудование TLK успело завоевать заслуженную популярность среди наших клиентов – системных интеграторов, крупных реселлеров, Интернет-провайдеров, а также среди конечных пользователей продукции. Многие федеральные государственные объекты и крупные промышленные предприятия оснащены серверными шкафами TLK. Антивандальные шкафы TLK успешно эксплуатируются в рискованных для наполняющего их оборудования помещениях, таких, как чердаки и подъезды.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://www.tlk-rc.ru/" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--Netlan-->
                    <div class="container sert-section">
                        <div class="row">
                            <h3>Авторизованный дилер продукции "Netlan"</h3>
                            <div class="col-md-3">
                                <a class="sertificat" href="#"><img src="~/Content/images/Sertificates/01_05_15_netlan.jpg" alt="Netlan" /></a>
                            </div>
                            <div class="col-md-9">
                                <h4>с 1 мая 2014 по 1 мая 2015г.</h4>
                                <p>
                                    Под брендом NETLAN поставляется качественное и недорогое оборудование, предназначенное, в первую очередь, для интернет-провайдеров и построения домашних и офисных сетей. Продукция NETLAN включает в себя широкий ассортимент кабеля, который хорошо зарекомендовал себя на рынке, инструменты и оборудование для коммутации: коммутационные шнуры и патч-панели, кроссовое оборудование, а также антивандальные настенные шкафы для установки в подъездах и на чердаках.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <a href="http://www.netlancables.ru/" class="btn btn-info partner-link">Официальный сайт</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane bordered" id="tab3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3>Реквизиты компании:</h3>
                                </div>
                                <div class="panel-body">
                                    <h4>Общество с ограниченной ответственностью "Торговый дом  "АЙДИ-С"</h4>
                                </div>
                                <table class="table table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th>Реквизит</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Сокращенное наименование юр. лица.</th>
                                            <th>ООО «ТД «АЙДИ-С»</th>
                                        </tr>
                                        <tr>
                                            <th>ИНН:</th>
                                            <th>2635217994</th>
                                        </tr>
                                        <tr>
                                            <th>КПП:</th>
                                            <th>263501001</th>
                                        </tr>
                                        <tr>
                                            <th>ОРГН</th>
                                            <th>1162651055885</th>
                                        </tr>
                                        <tr>
                                            <th>Юридический адрес:</th>
                                            <th>Российская Федерация 355041, Ставропольский край, г. Ставрополь, ул. Л. Толстого, д.53</th>
                                        </tr>
                                        <tr>
                                            <th>Фактический адрес:</th>
                                            <th>Российская Федерация 355041, Ставропольский край, г. Ставрополь, ул. Л. Толстого, д.53</th>
                                        </tr>
                                        <tr>
                                            <th>Телефон:</th>
                                            <th>8(8652) 99-05-82,  99-05-83,  99-05-84</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="info">Основной банковский счет:</th>
                                        </tr>
                                        <tr>
                                            <th>Номер счета:</th>
                                            <th>40702810825590003569</th>
                                        </tr>
                                        <tr>
                                            <th>Наименование банка:</th>
                                            <th>ФИЛИАЛ N 2351 ВТБ 24 (публичное акционерное общество) г. Краснодар</th>
                                        </tr>
                                        <tr>
                                            <th>БИК банка:</th>
                                            <th>040349585</th>
                                        </tr>
                                        <tr>
                                            <th>Кор. Счет банка:</th>
                                            <th>30101810900000000585</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="info">Руководитель организации:</th>
                                        </tr>
                                        <tr>
                                            <th>Директор:</th>
                                            <th>Кравченко Александр Александрович</th>
                                        </tr>
                                        <tr>
                                            <th>Дейстыующий на основании:</th>
                                            <th>Устава.</th>
                                        </tr>
                                        <tr>
                                            <th>Главный бухгалтер:</th>
                                            <th>не предусмотрен</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>