@model IndDev.Domain.Entity.Cart.Cart
<div class="telButton">
    <h3>Корзина покупок</h3>
    @if (!Model.CartItems.Any())
    {
        <p>Ваша корзина пуста</p>
    }
    else
    {
        
    }
</div>
