@model IndDev.Domain.ViewModels.CursViewModel

<ul class="vals">
    <li>@Model.CursDate.ToLongDateString()</li>
    @foreach (var item in Model.Curses)
    {
        <li>@item.Stitle: @item.CurValue.ToString("##.00р.")</li>
    }
</ul>
