@model IndDev.Models.MailMessageModel
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SendQuestion", "Mail", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h1>ОБРАТНАЯ СВЯЗЬ</h1>
                @Html.TextBoxFor(model => model.SenderName, new {placeholder="Ваше имя"})
                @Html.TextBoxFor(model => model.From, new { placeholder = "Электронная почта"})<br/>
                @Html.TextAreaFor(model => model.Body, new { placeholder = "Сообщение" })<br/>
                <input type="submit" value="ОТПРАВИТЬ"/>
            }
        </div>
    </div>
</div>

