<div class="indexPartners">
    <h1>с нами работают</h1>
    <div class="owl-carousel" id="pLogos">
        <img class="item" src="~/Content/images/partners/rostel.jpg" alt="" />
        <img class="item" src="~/Content/images/partners/greenpoint.jpg" alt="" />
        <img class="item" src="~/Content/images/partners/atsserv.jpg" alt="" />
        <img class="item" src="~/Content/images/partners/formula.jpg" alt="" />
        <img class="item" src="~/Content/images/partners/mts.jpg" alt="" />
        <img class="item" src="~/Content/images/partners/neolex.jpg" alt="" />
        <img class="item" src="~/Content/images/partners/techpoint.jpg" alt="" />
        <img class="item" src="~/Content/images/partners/tz.jpg" alt="" />
    </div>
</div>
