
<div class="sertBlock">
    <h1>наши сертификаты</h1>
    <div class="owl-carousel" id="sert">
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/gl600.jpg" title="GIGALINK">
                <img src="/Content/images/Sertificates/gl600.jpg" alt="GIGALINK" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/24_03_15_gigalink.jpg" title="GIGALINK">
                <img src="/Content/images/Sertificates/24_03_15_gigalink.jpg" alt="GIGALINK" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/01_03_15_install.jpg" title="INSTAL">
                <img src="/Content/images/Sertificates/01_03_15_install.jpg" alt="INSTAL" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/01_08_16_install.jpg" title="INSTAL">
                <img src="/Content/images/Sertificates/01_08_16_install.jpg" alt="INSTALL" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/inst600.jpg" title="INSTAL">
                <img src="/Content/images/Sertificates/inst600.jpg" alt="INSTALL" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/01_05_15_netlan.jpg" title="NETLAN">
                <img src="/Content/images/Sertificates/01_05_15_netlan.jpg" alt="NETLAN" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/nl600.jpg" title="NETLAN">
                <img src="/Content/images/Sertificates/nl600.jpg" alt="NETLAN" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/24_03_15_nikomax.jpg" title="NIKOMAX">
                <img src="/Content/images/Sertificates/24_03_15_nikomax.jpg" alt="NIKOMAX" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/nmx600.jpg" title="NIKOMAX">
                <img src="/Content/images/Sertificates/nmx600.jpg" alt="NIKOMAX" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/24_03_15_tlk.jpg" title="TLK">
                <img src="/Content/images/Sertificates/24_03_15_tlk.jpg" alt="TLK" />
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/tlk600.jpg" title="TLK">
                <img src="/Content/images/Sertificates/tlk600.jpg" alt="TLK"/>
            </a>
        </p>
        <p class="item">
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/Content/images/Sertificates/ipcom.jpg" title="IPCom">
                <img src="/Content/images/Sertificates/ipcom.jpg" alt="IPCom" />
            </a>
        </p>

    </div>
</div>