
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

<div class="topSlider">
    @Html.Partial("_TopSlider")
</div>
<div class="navString" id="mainNav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a>ГЛАВНАЯ</a></li>
                    <li><a>КАТАЛОГ</a></li>
                    <li><a>О КОМПАНИИ</a></li>
                    <li><a>КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="specPredlog">
    <h1>ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</h1>
    <a>45 товаров по спец-цене</a>
    <div id="hotCarousel" class="owl-carousel">
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/netlan42.png" alt=""/>
                <div class="hotDescr">
                    <p>Кабель NETLAN F/UTP 4 пары, Кат.5e (Класс D), 100МГц, одножильный, BC (чистая медь), внутренний, PVC нг(B), серый, 305м</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>3 300p./б-та</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/FOC.png" alt=""/>
                <div class="hotDescr">
                    <p>Кабель оптический Alpha Mile Flex FTTx. Абонентский оптический кабель Alpha Mile для FTTx сетей, 1 волокно 657A1</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>5,5p./м.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/CP42.png" alt=""/>
                <div class="hotDescr">
                    <p>Практический дизайн и высота 42U позволяет решать любые задачи по размещению оборудования предельной массы до 1000 кг. Степень защиты шкафа - IP30</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>28 500p/шт.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/ykn.png" alt=""/>
                <div class="hotDescr">
                    <p>Узел крепления натяжной УК-Н-01БВ предназначен для крепления натяжных спиральных или анкерных зажимов.</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>80p/шт.</p>
                </div>
            </div>
        </div>
    </div>
    <p><<< прокручивай мышкой >>></p>
</div>
<div class="catalog">
    <ul>
        <li>
            <div class="v1">
                <div class="v1_descr">
                    <p>КАБЕЛИ НА ОСНОВЕ<br/> ВИТЫХ ПАР
                    </p>
                </div>
            </div></li>
        <li>
            <div class="v2"></div></li>
        <li>
            <div class="v3"></div></li>
        <li>
            <div class="v4"></div></li>
    </ul>
    <div class="catDescr">
        <h1>КАТАЛОГ</h1>
    </div>
    <ul>
        <li><div class="v5"></div></li>
        <li><div class="v6"></div></li>
        <li><div class="v7"></div></li>
        <li><div class="v8"></div></li>
    </ul>
</div>

