<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading controlsComp">
                <span data-bind="text:'Компания: '+CompanyName()"></span>
                <span data-bind="text:'г. '+Region()"></span>
                <button type="button" data-bind="click:Admin.showCompDet.bind($data, 'SHOW'), visible:Admin.showDet('CLOSE')"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                <button type="button" data-bind="click:Admin.showCompDet.bind($data, 'CLOSE'), visible:Admin.showDet('SHOW')"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                <button type="button" data-bind="click:Admin.setView.bind($data, 'EVENT')"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                <button type="button"><i class="fa fa-phone" aria-hidden="true"></i></button>
            </div>
            <div class="panel-body companyBlock">
                <table class="tbl table-responsive">
                    <tr data-bind="visible:Admin.showDet('SHOW')">
                        <th>ИНН</th>
                        <td data-bind="text:Inn"></td>
                    </tr>
                    <tr data-bind="visible:Admin.showDet('SHOW')">
                        <th>КПП</th>
                        <td data-bind="text:Kpp"></td>
                    </tr>
                    <tr data-bind="visible:Admin.showDet('SHOW')">
                        <th>ОГРН</th>
                        <td data-bind="text:Ogrn"></td>
                    </tr>
                    <tr data-bind="visible:Admin.showDet('SHOW')">
                        <th>Юр. адр.:</th>
                        <td data-bind="text:UrAdress"></td>
                    </tr>
                    <tr data-bind="visible:Admin.showDet('SHOW')">
                        <th>Пт. адр.:</th>
                        <td data-bind="text:RealAdress"></td>
                    </tr>
                    <tr>
                        <th>Сайт:</th>
                        <td><a data-bind="text:Offer, attr:{href:Offer}" href="#" target="_blank"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading">Телефоны компании:</div>
            <div class="panel-body">
                <table class="tbl table-responsive" data-bind="foreach:Telephones">
                    <tr>
                        <th data-bind="text:Title"></th>
                        <td data-bind="text:PhoneNumber"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading">Описание / заметки</div>
            <div class="panel-body">
                <textarea rows="6" class="descrArea" id="DescrInput" data-bind="textInput:Descr"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading">Контакты</div>
            <div class="panel-body">
                <table class="tbl table-responsive" data-bind="foreach:PersonContacts">
                    <tr>
                        <th data-bind="text:PersonName"></th>
                        <td data-bind="text:Phone"></td>
                        <td data-bind="text:Email"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>