<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading">
                <span data-bind="text:'Компания: '+CompanyName()"></span>
                <span data-bind="text:'г.: '+Region()"></span>
            </div>
            <div class="panel-body companyBlock">
                <table class="table table-responsive">
                    <tr>
                        <th>ИНН</th>
                        <td data-bind="text:Inn"></td>
                    </tr>
                    <tr>
                        <th>КПП</th>
                        <td data-bind="text:Kpp"></td>
                    </tr>
                    <tr>
                        <th>ОГРН</th>
                        <td data-bind="text:Ogrn"></td>
                    </tr>
                    <tr>
                        <th>Юр. адр.:</th>
                        <td data-bind="text:UrAdress"></td>
                    </tr>
                    <tr>
                        <th>Пт. адр.:</th>
                        <td data-bind="text:RealAdress"></td>
                    </tr>
                    <tr>
                        <th>Сайт:</th>
                        <td><a data-bind="text:Offer, attr:{href:Offer}" href="#" target="_blank"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading">Телефоны компании:</div>
            <div class="panel-body">
                <table class="table table-responsive" data-bind="foreach:Telephones">
                    <tr>
                        <th data-bind="text:Title"></th>
                        <td data-bind="text:PhoneNumber"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading">Описание / заметки</div>
            <div class="panel-body">
                <textarea rows="6" class="descrArea" id="DescrInput" data-bind="textInput:Descr"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-bind="with:Admin.currCompany">
            <div class="panel-heading">Контакты</div>
            <div class="panel-body">
                <table class="table table-responsive" data-bind="foreach:PersonContacts">
                    <tr>
                        <th data-bind="text:PersonName"></th>
                        <td data-bind="text:Phone"></td>
                        <td data-bind="text:Email"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>