<div class="controlsTop">
    <p>
        <span data-bind="text:productGroupe"></span><i class="fa fa-chevron-right" aria-hidden="true"></i>
    </p>
    <div class="subCatString" data-bind="foreach:navString">
        <p>
            <span data-bind="text:Title"></span><i class="fa fa-chevron-right" aria-hidden="true"></i>
        </p>
    </div>
</div>

<!--ko if:categorys().length>0-->
<h2>Группы продуктов</h2>
<div class="categoryGroupe" data-bind="foreach:categorys">
    <div class="categoryItem">
        <div class="countProducts" data-bind="visible:Count()!==0">
            <span data-bind="text:Count"></span>
        </div>
        <div class="catImgWrap">
            <img alt="" data-bind="attr:{src:Path}"/>
        </div>
        <p data-bind="text:Title"></p>
    </div>
</div>
<!--/ko-->
<div class="controlsBottom" data-bind="visible:products().length>0">
    <div class="totalPositions">
        <p>Всего позиций: <span data-bind="text:products().length"></span></p>
    </div>

    <div class="productNavigation">
        <p>
            <button class="notActivePage" data-bind="click:prevPage, enable:currentPage()>0"><</button>
        </p>
        <p data-bind="foreach: new Array(pageCount())">
            <button class="notActivePage" data-bind="text:$index()+1, click:$root.gotoPage.bind($data,$index), css:{activePage:$index()===$root.currentPage()}"></button>
        </p>
        <p>
            <button class="notActivePage" data-bind="click:nextPage, enable: (currentPage() < pageCount()-1)">></button>
        </p>
    </div>
    <div class="viewOptions">
        <button type="button" data-bind="click:setPageSize.bind($data, 10)">10</button>
        <button type="button" data-bind="click:setPageSize.bind($data, 20)">20</button>
        <button type="button" data-bind="click:setPageSize.bind($data, 30)">30</button>
        <button type="button" data-bind="click:Shop.setViewStyle.bind($data,true)"><i class="fa fa-th" aria-hidden="true"></i></button>
        <button type="button" data-bind="click:Shop.setViewStyle.bind($data,false)"><i class="fa fa-list" aria-hidden="true"></i></button>
    </div>
</div>
<!--ko if:Shop.showModel.viewGrid-->
<div class="productsPresent" data-bind="foreach:pagedProducts">
    <div class="productItemGrid">
        <div class="imgWrapper">
            <img alt="" data-bind="attr:{src:Avatar}"/>
        </div>
        <div class="pDescr">
            <h2 data-bind="text:Art"></h2>
            <p data-bind="text:Title"></p>
            <h3 data-bind="text:Price()+' руб. с НДС'"></h3>
            <button>в корзину</button>
        </div>
        <div class="productControls">
            <p>
                <i class="fa fa-heart" aria-hidden="true"></i> в избранное
            </p>
            <p>
                <i class="fa fa-eye" aria-hidden="true"></i> <span data-bind="text:Rate"></span>
            </p>
        </div>
    </div>
</div>
<!--/ko-->
<!--ko if:Shop.showModel.viewGrid()===false-->
<div class="productsList" data-bind="foreach:pagedProducts">
    <div class="listItem">
        <div class="imgListItem">
            <img alt="" data-bind="attr:{src:Avatar}"/>
        </div>
        <div class="descr">
            <p data-bind="text:Title"></p>
        </div>
        <div class="order">
            
        </div> 
    </div>
</div>
<!--/ko-->