@model IndDev.Domain.Entity.Auth.User
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_LayoutSFoot.cshtml";
}

<div class="row">
<div class="col-md-3 left-navigation">
    @Html.Action("AdminNavigation")
</div>
</div>

