@model IndDev.Domain.Entity.Auth.User
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
    <link href="~/Content/admin.css" rel="stylesheet"/>
}


<div class="adminIndex">
@Html.Action("AdminNavigation")
    
</div>

