<div class="subCat">
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <td>Код</td>
            <td>Имя</td>
            <td>Описание</td>
            <td>Картинка</td>
            <td>Приоритет</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody id="tbCat">
        @Html.Action("CategoriesList")
        </tbody>
        <tfoot>
    @using (Html.BeginForm("AddProdCat", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <tr>
            <td>Новая</td>
            <td><input name="title" type="text" /></td>
            <td><textarea name="descr" type="text" maxlength="120" rows="3"></textarea></td>
            <td><input name="photo" type="file" /></td>
            <td><input name="priority" type="number" value="999" max="999" min="1" /></td>
            <td><input type="submit" value="Добавить" /></td>
        </tr>
    }
        
        </tfoot>
    </table>
</div>

