@{
    ViewBag.Title = "Компании/Клиенты";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

@section scripts
{
<script src="~/Scripts/Admin/adminController.js"></script>
<script src="~/Scripts/Admin/admmodule.js"></script>
}
@section links
{
    <link href="~/Content/admin.css" rel="stylesheet" />
}

<div id="companysBlock">
    <div class="topActions" data-bind="visible:!Admin.currView('EDIT')">
        <ul>
            <li data-bind="click:Admin.setView.bind($data, 'COMPANY'), css:{activeTop:Admin.currView('COMPANY')}" class="activeTop">Компании</li>
            <li data-bind="click:Admin.setView.bind($data, 'EVENT'), css:{activeTop:Admin.currView('EVENT')}" class="activeTop">События</li>
            <li data-bind="click:Admin.setView.bind($data, 'EDIT')" class="activeTop">Edit</li>
        </ul>
    </div>


    <div class="pageWrapper">
        <div class="pageView" data-bind="visible:Admin.currView('COMPANY')" style="display: none">
            <div class="regions">
                <a href="#" data-bind="click:Admin.setFilterRegion.bind($data,null)" class="btn btn-default btn-sm">Все
                    <span data-bind="text: companys().length"></span>
                </a>
                <div class="companyRegions" data-bind="foreach:regions">
                    <a href="#" class="btn btn-default btn-sm" data-bind="visible:title!==null, click:Admin.setFilterRegion">
                        <p data-bind="text: title"></p>
                        <span data-bind="text:quantity"></span>
                    </a>
                </div>
            </div>
            <div class="filter">
                <div class="fItem searchByInn">
                    <label for="inputInn">Поиск по ИНН</label><br/>
                    <input type="text" name="InnSearch" id="inputInn" data-bind="value:innSearch, valueUpdate:'afterkeydown'"/>
                    <p data-bind="text:'Найдено: '+filteredCompanys().length+' компаний.', visible:innSearch"></p>
                </div>
                <div class="fItem searchByName">
                    <label for="nameCompany">Поиск по наименованию</label><br />
                    <input type="text" name="InnSearch" id="nameCompany" data-bind="value:nameSearch, valueUpdate:'afterkeydown'" />
                    <p data-bind="text:'Найдено: '+filteredCompanys().length+' компаний.', visible:nameSearch"></p>
                </div>
            </div>
            <table class="table table-responsive table-striped" data-bind="with:Admin">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Инн</th>
                    <th>Наименование</th>
                    <th>Регион</th>
                    <th>Сайт</th>
                    <th><button type="button" data-bind="click:Admin.addCompany"><i class="fa fa-plus-square" aria-hidden="true"></i></button></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: companysViewModel.filteredCompanys">
                <tr>
                    <td data-bind="text: $index()+1"></td>
                    <td data-bind="text: Inn"></td>
                    <td data-bind="text: CompanyName"></td>
                    <td data-bind="if:Region()!==null">
                        <p data-bind="text: Region"></p></td>
                    <td data-bind="text: Offer"></td>
                    <td><a data-bind="click:Admin.viewCompany">Подробнее</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pageView" data-bind="visible:Admin.currView('EVENT')" style="display: none">
            @Html.Partial("placeholders/_events")
        </div>
        <div class="pageView" data-bind="visible:Admin.currView('SHOW_COMPANY')" style="display: none">
            @Html.Partial("placeholders/_companyView")
        </div>
        <div class="pageView" data-bind="visible:Admin.currView('EDIT')" style="display: none">
            @Html.Partial("placeholders/_companyData")
        </div>
    </div>
</div>