    <ul class="nav nav-tabs" >
        <li class=""><a href="#productList" data-toggle="tab">Товары</a></li>
        <li class="active"><a href="#menuList" data-toggle="tab">Меню</a></li>
        <li class=""><a href="#catList" data-toggle="tab">Категории</a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane bordered" id="productList">
        @Html.ActionLink("Прайс", "GetPriceList")
        @using (Html.BeginForm("UpdateByPrice", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            <input name="price" id="price" type="file" />
            <input type="submit" value="Обновить" />
        }
    </div>
    <div class="tab-pane active bordered" id="menuList">
        @Html.Action("RootMenu")
    </div>
    <div class="tab-pane bordered" id="catList">
        @Html.Action("Categories")
    </div>
</div>
