@model IndDev.Domain.ViewModels.MenuVm

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

<div class="row">
    <div class="col-md-3 left-navigation">
        @Html.Action("AdminNavigation")
    </div>
    <div class="col-md-9">
        @if (TempData["message"] != null)
        {
            <h3 style="color: red">@TempData["message"]</h3>
        }
        
    </div>
</div>