.shopWrapper {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

}
.topOffer {
    flex: 0 0 auto;
    height: 300px;
    background: url("/Content/Shop/outomnfon.jpg") repeat;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center; 
}
.ofLand {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    border: solid 1px red;
}
.offertitle a h1 {
    font-family: "RobotoBold";
    color: lightyellow;
    text-shadow: 1px 1px 1px red;
    font-size: 2em;
}
.offerItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: linear-gradient(90deg, #fff,transparent)
}
.offerItem img {
    max-width: 200px;
    height: auto;
    align-self: flex-end;
}
.offerItemDescr {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
}
.offerItemDescr h2 {
    font-size: 1.3em;
    flex: 0 0 auto;
    font-family: "RobotoBold";
    color: black;
    margin: 0;
}
.offerItemDescr h3 {
    flex: 0 0 auto;
    font-size: 1.3em;
    font-family: "RobotoBold";
    color: black;
    margin: 0;
}
.offerItemDescr p {
    flex: 0 0 auto;
    font-size: 0.8em;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    border: solid 1px red;
    font-family: "RobotoRegular"
}
.offerItemDescr p:first-letter {
    margin: 0 0 0 20px;
}