@model IndDev.Domain.Entity.Auth.User

<div class="cartCutomer">
    <table class="table table-responsive table-condensed">
        <tr>
            <td>Заказчик:</td>
            <td>@Model.Customer.Title</td>
        </tr>
        <tr>
            <td>Доставка:</td>
            <td>@Model.Customer.Adress</td>
        </tr>
        <tr>
            <td>Телефон:</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>Статус:</td>
            <td>@Model.Customer.CustomerStatus.Title</td>
        </tr>
    </table>
</div>
