@model IndDev.Domain.Entity.Customers.Customer
<ul class="loginPartial">
    <li><a href="@Url.Action("Index", "Customer")">@Model.Title</a><span>/</span></li>
    <li><a href="@Url.Action("LogOut", "Security")">ВЫХОД</a></li>
</ul>
