@model IndDev.Domain.Entity.Orders.Order
@{
    ViewBag.Title = "MakeOrder";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@foreach (var item in Model.OrderLines)
{
    <h1>@item.Product.Title - @item.Price - @item.Quantity</h1>
}
