@model IndDev.Domain.Entity.Orders.Order
@{
    ViewBag.Title = "Заказ №"+Model.Number+" от "+Model.OrderDate.ToLongDateString();
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}



<div class="order">
    <div class="headInfo">
        <div class="orderHead">
            <div class="customerInfo">
                <h1>WOW</h1>
            </div>
            <h1>WOW</h1>
            <div class="sellerInfo">
                <h1>WOW</h1>
            </div>
        </div>
    </div>


    <div class="orderBody">


    </div>
    <div class="orderControls">
        
    </div>
</div>